
<div class="container" style="margin-left: -8px">
    <div class="row">
      <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Price Level</h5>
    </div>
  </div>

  <div class="mainbody">
    <div class="routingpart">

      <table class="table-bordered">

        <div class="col-md-12">
          <div class="row scale-up-center">
            <div class="col-md-2" *ngFor="let pricelevel of allpricelevel" (click)="pricelevelchngeAction(pricelevel)">

              <div class="card">
                <label id="labell">{{pricelevel.name| uppercase }}</label>
              </div>


            </div>
          </div>
        </div>


      </table>
    </div>
  </div>

