<div class="container">
    <div class="row">
        <div class="modal-content" id="exampleModal1">
            <div class="modal-header">

                <!-- <div class="row"> -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userEmail" App>Register Name :</label>
                        <select class="form-control">
                            <optgroup label="Swedish Cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                            </optgroup>

                        </select>
                        <!-- </div> -->
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userEmail">Ending Time:</label>

                        <input type="text" class="form-control" required="" name="password" value="">

                    </div>
                </div>

            </div>

            <div class="end">
                <label>Day End(Close The Sale)</label>
            </div>


            <form action="" method="post">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Cash Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Credit Card Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Cheque Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Credit Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Gift Voucher Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="userEmail">Cash Sale :</label>
                        </div>

                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control" required="" name="password" value="">
                            </div>
                        </div>
                    </div>

                </div>


                <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-icon float-left" data-dismiss="modal"><i class="fa fa-search"></i>
                            Preview Report</button>
                    <input type="hidden" name="isEmpty" value="">
                    <button type="input" name="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i>
                        Day End</button>
                   
                    <button style="float: left;" type="button" class="btn btn-danger btn-icon" data-dismiss="modal"><i class="fa fa-times-circle"></i>
                       Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>