.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
      width: 800px;
  }
  .closes{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
  }
  .modal-body {
    position:relative;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
 
  }
  .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }

 .form-check-label{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
 }
 .headr{
     border-bottom: 1px solid black;
 }
