// .routingpart{
//   padding: 4%;
// }

.checkbox{
  margin-top: 10px;
}

// .loyltytext{
//   margin-top: 10px;
// }

.btn{
  margin-left: 5px;
}


.col-form-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.form-check-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.btn-primary{
  font-size:calc(2px + 1vw);
  white-space: nowrap;
}
.checkbox{
  margin-left: 2%;
  margin-bottom: 10px;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.routingpart {
  width: 100vw-6.5vw; //93.5
  height: 100vh-5vh;

  padding-left: 15%;
  padding-right: 15%;
  padding-top: 6%;
}
.insidecard{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
