<form id="panel" class="scale-up-hor-left">
  <div class="card maincard" id="mainmain">
    <h5 id="titel" class="card-title">POS Report</h5>
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Report</label>
        <div class="col-md-9">
          <select class="form-control form-control-sm">
            <option>Sales Summary Report</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Location</label>
        <div class="col-md-9">
          <select class="form-control form-control-sm">
            <option>REST-THULAA RESTAURANT</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="text-center">
            <label for="inputEmail4" id="majorlabel">Start Date</label>
          </div>
          <select class="form-control form-control-sm">
            <option>Monday,February 11, 2019</option>
          </select>
          <div class="text-center">
            <label id="sublabel">2019-02-11</label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <div class="text-center">
            <label for="inputPassword4" id="majorlabel">End Date</label>
          </div>
          <select class="form-control form-control-sm">
            <option>Monday,February 11, 2019</option>
          </select>
          <div class="text-center">
            <label id="sublabel" class="">2019-02-11</label>
          </div>
        </div>
      </div>

      <div class="col-md-12 butonpanel">
        <button type="button" id="btn" class="btn btn-primary float-right">
          Exit
        </button>
        <button id="btn" type="button" class="btn btn-primary float-right">
          Print
        </button>
      </div>
    </div>
  </div>
</form>
