<!-- <p>
  discount works!
</p> -->

<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
     
      Creadit/Debit Card

    </button>
  
    <!-- /////////////////////////////////////////////////////////////////////// -->
  
    <div class="row">
      <div class="card button">
          <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
      
      
        </div>
  </div>
  
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
    <!-- ///////////////////////////////////////////////// -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"> Creadit/Debit Card</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- //////////////////////No Pad////////////////////////////// -->

           <!-- Modal Header -->
           <!-- <div class="modal-header">
            <h4 class="modal-title">Cash Without Loyalty</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div> -->

          <div class="modal-header">
            <div class="col align-self-center">
              <!--One of three columns-->
        
              <!--<label> Yash </label>
              <input type="text" />-->
        
                      <!-- <div class="row"> -->
                         <div class="col-sm-6" >Loyalty No : </div>
                         <div class="col-sm-13">   <input type="text" class="form-control" id="usr"></div>
                      <!-- </div> -->
                 </div>
          <div class="col align-self-end">
                 <!-- One of three columns -->
                 <h6>Numeric Pad </h6>
                    <div class="row">
        
                     <!--<div class="col-sm-8">-->
                         <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">1</button>
                         <button type="button" class="btn btn-danger" data-dismiss="modal1">2</button>
                         <button type="button" class="btn btn-danger" data-dismiss="modal1">3</button> -->
                         <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">1</button>   </div> 
                         <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">2</button>   </div> 
                         <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">3</button>   </div> 
                         <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">4</button>   </div> 

                  
                  
                        </div>
                  <!--</div >-->
        
                      <div class="row">
                        <!--<div class="col-sm-8">-->
                          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">4</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">5</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">6</button>
                        -->
                          <!--</div>-->
                          <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">5</button>   </div> 
                          <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">6</button>   </div> 
                          <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">7</button>   </div> 
                          <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">8</button>   </div> 

                      </div>
        
                      <div class="row">
                          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">7</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">8</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">9</button>
                     -->
                     <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">9</button>   </div> 
                     <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">0</button>   </div> 
                     <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">.</button>   </div> 
                     <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">C</button>   </div> 

                    
                        </div>
                  
        
                    <!-- <div class="row"> -->
                        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">0</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal1">.</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal1">cler</button> -->
                   
                        <!-- <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">0</button>   </div> 
                        <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">.</button>   </div> 
                        <div  class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">clear</button>   </div> 

                      </div> -->
        
        
        
            </div>

          
          </div>
          
          

          <!-- ////////////////////////////////////No pad End//////////////////////// -->
          <!-- Modal body -->
          <div class="modal-body">
            <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->
  
   <div class="row">
                <div class="col-sm-4" >  Bill Amount :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br>
                
                <!-- <div class="col-sm-4" >  Loyalty No:</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                 -->
  
              </div>
  
              <div class="form-check-inline">
               
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optradio">Add Points
                </label>
              </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">Discount
              </label>
            </div>
  
  <br>
  <br>
            
   <div class="row">
      <div class="col-sm-4" > Loyalty Disc:</div>
      <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
      <br>
      <br>
      
      <div class="col-sm-4" > Disc. Amount:</div>
      <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
      
  
    </div>
  <br>
    <div class="row">
        <div class="col-sm-4" > Grand Total:</div>
        <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
        <br>
        <br>
        
        <div class="col-sm-4" > Received Amount:</div>
        <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
        
        <br>
        <br>
        
        
        <div class="col-sm-4" > Balance Amount:</div>
        <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
        
        <br>
        <br>


        <div class="col-sm-4" > Card Type:</div>
        <div class="col-sm-6"> 
       


          <select class="custom-select">
              <option selected>Choose One...</option>
              <option value="1">Any Bank_VISA_Credit</option>
              <option value="2">Any Bank_VISA_Debit</option>
              <option value="3">Any Bank_Master_Debit</option>
              <option value="3">Any Bank_Master_Credit</option>
              <option value="3">Any Bank_Amex_Debit</option>
              <option value="3">Any Bank_Amex_Credit</option>
              </select>


          </div>

      </div>
      <br>
      <div class="row">
      <div class="col-sm-4" > Reference No:</div>
      <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
      </div>
  <br>
 
<div class="row">
  <div class="col-sm-4" > Expire Date:</div>
  <div class="col-sm-6">   <input type="Date" class="form-control" id="usr"></div>
  </div>
  <br>

  <div class="row">
  <div class="col-sm-4" > Remarks:</div>
  <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
  </div>
  

  
            <br>
            <!-- /////////////////////////////////////// -->
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">Ok</button>    
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  