// .routingpart{
//   padding: 4%;
// }

.checkbox{
  margin-top: 10px;
}

// .loyltytext{
//   margin-top: 10px;
// }

.btn{
  margin-left: 5px;
}


.col-form-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.form-check-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.btn-primary{
  font-size:calc(2px + 1vw);
  white-space: nowrap;
}
.checkbox{
  margin-left: 2%;
  margin-bottom: 10px;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.routingpart {
  width: 100vw-6.5vw; //93.5
  height: 100vh-5vh;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
}
.insidecard{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}
#settlementmain{
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#settlementmain:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}
