<div class="card maincard scale-up-hor-left">
  <h5 id="titel" class="">
    <span id="home" (click)="homeAction()" class="badge badge-secondary">
      <i class="fas fa-home"></i> /
    </span>
    <span (click)="settlementAction()" id="settlementmain" class="badge badge-secondary">
      SETTLEMENT /
    </span>
    PRICE LEVEL
  </h5>
  <div class="card-body">
    <div class="col-md-12">
      <div class="row">


        <table class="table-bordered">
          <div class="col-md-12">
            <div class="row scale-up-center">

              <div class="col-md-2" *ngFor="let allpricelevel of allpricelevels" data-toggle="modal" data-target="#pricelevel">
                <div class="card cardd" (click)="pricelevelchngeAction(allpricelevel)">
                  <p class="aligncenter">
                    <img class="card-img-top" src="../../../../assets/img/cashtype.png" alt="Card image cap" />
                  </p>
                  <h5 class="card-title">{{allpricelevel.name | uppercase }}</h5>
                </div>
              </div>

            </div>
          </div>
        </table>


      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="pricelevel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Your Selection</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col card" id="insidebutton" data-dismiss="modal" (click)="selectpricelvel()">
            <img class="card-img-top image" src="../../../../assets/img/okicon.png" alt="Card image cap" />
            <label id="buttontext">SELECT</label>
          </div>
          <div class="col card" id="outsidebutton" data-dismiss="modal" data-dismiss="modal">
            <img class="card-img-top image" src="../../../../assets/img/closeicon.png" alt="Card image cap" />
            <label id="buttontext">CLOSE</label>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="modal-footer center"> -->
    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Inside</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">OutSide</button> -->
    <!-- </div> -->
  </div>
</div>
</div>
