<div id="container">
  <div ng2-carouselamos class="slides-wrapper" [items]="majorcategorys" [width]="1000" [$prev]="prev" [$next]="next"
    [$item]="majorcategory">
  </div>


  <ng-template #prev class="make">
    <img src="../../../../assets/img/arrow2.png" id="left" />
  </ng-template>

  <ng-template #next>
    <img src="../../../../assets/img/arrow.png" id="right" />
  </ng-template>


  <ng-template #majorcategory let-majorcategory let-i="index">

    <div class="col-md-1 card majorcategorys scale-up-hor-left" (click)="majorcategoryClickAction(majorcategory)">
      <p class="aligncenter">
        <img class="card-img-top" src="../../../../assets/img/foodtest.jpg" alt="Card image cap" />
      </p>

      <p class="card-text">{{majorcategory.main_category_name}}</p>
    </div>
  </ng-template>

</div>




<div id="container">
  <div ng2-carouselamos class="slides-wrapper" [items]="subcategorys" [width]="1000" [$prev]="prev" [$next]="next"
    [$item]="subcategory">
  </div>


  <ng-template #prev class="make">
    <img src="../../../../assets/img/arrow2.png" id="left" />
  </ng-template>

  <ng-template #next>
    <img src="../../../../assets/img/arrow.png" id="right" />
  </ng-template>


  <ng-template #subcategory let-subcategory let-i="index">

    <div class="col-md-1 card subcategorys scale-up-hor-left" (click)="subCategoryClickAction(subcategory)">
      <p class="aligncenter">
        <img class="card-img-top" src="../../../../assets/img/foodtest.jpg" alt="Card image cap" />
      </p>

      <p class="card-text">{{subcategory.name}}</p>
    </div>
  </ng-template>

</div>
