<div class="card maincard scale-up-hor-left">
  <h5 id="titel" class="card-title">
    <span id="home" (click)="homeAction()" class="badge badge-secondary">
      <i class="fas fa-home"></i> /
    </span>
    <span (click)="toolAction()" id="toolspan" class="badge badge-secondary">
      TOOLS /
    </span>
    BILL SPLIT
  </h5>
  <div class="card-body">
    <div class="row" id="remove">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table-bordered ordertable">
              <thead>
                <tr>
                  <th class="thead" scope="col" width="10%">Trn No</th>
                  <th class="thead" scope="col">Table No</th>
                  <th class="thead" scope="col">Waiter No</th>
                  <th class="thead" scope="col">Total</th>
                  <th class="thead" scope="col">Discount</th>
                  <th class="thead" scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ProceedTableOrder of ProceedTableOrders | keyvalue" id="clickrow"
                  (click)="tableclickAction(ProceedTableOrder.value.saPosMasterId)"
                  [className]="ProceedTableOrder.value.isTableSelected ? 'tableseleted' : 'notseleted'">
                  <td class="trow">{{ProceedTableOrder.value.searchKey}}</td>
                  <td class="trow">{{ProceedTableOrder.value.posTableName}}</td>
                  <td class="trow">{{ProceedTableOrder.value.servicemanSaBpartnerId}}</td>
                  <td style="text-align: right" class="trow">{{ProceedTableOrder.value.subTotal}}</td>
                  <td style="text-align: right" class="trow">{{ProceedTableOrder.value.discountAmount}}</td>
                  <td style="text-align: right" class="trow" >{{ProceedTableOrder.value.subTotal}}</td>
                </tr>


              </tbody>
            </table>

            <br />

            <table class="table-bordered orderdetailtable">
              <thead>
                <tr>
                  <th class="thead" width="5%" scope="col">KOT/BOT</th>
                  <th class="thead" width="20%" scope="col">Code</th>
                  <th class="thead" width="20%" scope="col">Discription</th>
                  <th class="thead" width="5%" scope="col">Qty</th>
                  <th class="thead" width="20%" scope="col">U.Price</th>
                  <th class="thead" width="30%" scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Proceeditem of Proceeditems | keyvalue"
                  (click)="orderdetailsTableAction(Proceeditem.value)"
                  [className]="Proceeditem.value.isTableSelected ? 'tableseleted' : 'notseleted'">
                  <th class="trow">{{Proceeditem.value.orderTicketSearchKey}}</th>
                  <td class="trow">{{Proceeditem.value.itemMasterId}}</td>
                  <td class="trow">{{Proceeditem.value.remark}}</td>
                  <td class="trow">{{Proceeditem.value.quentity}}</td>
                  <td  style="text-align: right"class="trow">{{Proceeditem.value.sellingPrice}}</td>
                  <td style="text-align: right" class="trow">{{Proceeditem.value.subTotalWithoutTax}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Item Code</label>
          <div class="col-md-10">
            <input [(ngModel)]="itemcode" class="form-control form-control-sm" readonly type="text" />
          </div>
        </div>

        <div class="form-group row">

          <label class="col-md-2 col-form-label">Total QTY</label>

          <div class="col-md-3">
            <input [(ngModel)]="totalqty1" id="qty11" readonly class="form-control form-control-sm" type="text" />
          </div>

          <label class="col-md-2 col-form-label">Total QTY</label>

          <div class="col-md-3">
            <input [(ngModel)]="totalqty2" id="qty2" class="form-control form-control-sm" type="text" />
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="addAction()">ADD</button>
          </div>

        </div>

        <div class="card">
          <div class="card-body">
            <table class="table-bordered">
              <thead>
                <tr>
                  <th class="thead" width="5%" scope="col">KOT/BOT</th>
                  <th class="thead" width="20%" scope="col">Code</th>
                  <th class="thead" width="20%" scope="col">Discription</th>
                  <th class="thead" width="5%" scope="col">Qty</th>
                  <th class="thead" width="20%" scope="col">U.Price</th>
                  <th class="thead" width="30%" scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let temProceeditemma of temProceeditemmap | keyvalue">
                  <th class="trow">{{temProceeditemma.value.orderTicketSearchKey}}</th>
                  <td class="trow">{{temProceeditemma.value.itemMasterId}}</td>
                  <td class="trow">{{temProceeditemma.value.remark}}</td>
                  <td class="trow">{{temProceeditemma.value.quentity}}</td>
                  <td style="text-align: right" class="trow">{{temProceeditemma.value.sellingPrice}}</td>
                  <td style="text-align: right" class="trow">{{temProceeditemma.value.subTotalWithoutTax}}</td>
                </tr>
              </tbody>
            </table>

            <br />

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <button id="btn" type="button" class="btn btn-primary" (click)="createnewBill()">
                      Create New Bill
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />


      </div>
    </div>
  </div>
</div>
