.text{
    text-align: center;
    font-size: 0.8vmax;

}able-header {
    background-color: #95A5A6;
    font-size:  1.0vmax;
    text-align: center;
    color: #ffffff;
  }


#customers {
    border-collapse: collapse;
    width: 100%;
    display: block;
    height: 100vh-39vh;
    overflow-y: scroll;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7E7E7E;
    color: white;
    text-align: center;
  }

  #qtychange:hover{
    background-color: #95A5A6;
    transform: scale(1.2);
    color: white;
    transition: 0.5s ease;
    border-radius: 20%;
  }

 #amount{
  color: red;
  font-weight: 700;
  }
  #image{
    width: 30px;
    height: auto;
  }

  #image:hover {
    transform: scale(1.5);
    transition: 0.5s ease;
  }




.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
