<!-- <p>
  discount works!
</p> -->

<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
     
      Owners Account

    </button>
  
    <!-- /////////////////////////////////////////////////////////////////////// -->
  
    <div class="row">
      <div class="card button">
          <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
      
      
        </div>
  </div>
  
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
    <!-- ///////////////////////////////////////////////// -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"> Owners Account</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->
  
   <div class="row">
      <div class="col-sm-6"> 
                <!-- <div class="col-sm-4" >  Bill Amount :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br>
                
                <div class="col-sm-4" >  Loyalty No:</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                 -->
                 <div class="form-group">
                    <label for="comment">Remark:</label>
                    <textarea class="form-control" rows="5" id="comment" name="text" style="width: 470px"></textarea>
                  </div>
</div>
              </div>
  

  
  
  
            <br>
            <!-- /////////////////////////////////////// -->
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">Ok</button>    
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  