<div class="routingpart">
  <div class="card insidecard shadow-drop-2-center">
    <br>
    <h5 id="titel" class="">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      TOOLS
    </h5>

    <div class="col-md-12 scale-up-center">
      <div class="row ">

        <div class="col-md-2 ">
          <div class="card itemcard" (click)="reprintAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/reprint.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">RE PRINT</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="tranferAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/transfericon.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">TRANSFER</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="roominglistAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/rooming list.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">ROOMING LIST</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="movetableAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/movetable.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">MOVE TABLE</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="billsplitAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/bill split.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">BILL SPLIT</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="createtableAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/create table.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CREATE TABLE</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="creditecustomerAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/credit customer.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CREDIT CUSTOMER</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="guestspecialsAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/gust specials.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">GUEST SPECIALS</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="margebillAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/merge bill.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">MARGE BILL</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="settingAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/setting.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">SETTING</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="cashinAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/cash in.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CASH IN</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard" (click)="cashoutAction()">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/cash out.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CASH OUT</h5>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>


  </div>
</div>
