

.nav {
  height: 4vh;
  width: 100vw;
  margin-bottom: 1vh;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}
.col1 {
  width: 100vw-94vw;//6

  height: 100vh-5vh; // 95

  bottom: 0;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.col2 {
  width: 100vw-6.5vw; //93.5
  margin-right: 100vw-99.5vw; //1
  height: 100vh-5vh;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.btn{
  height: 12.5vh;
  margin-top: 1vh;
  // margin-left: 4%;
  width: 90%;
  margin-left: 0.3vw;
  white-space: nowrap;
  font-size: 0.8vw;
}
