
.container{
  margin-top: 3%;
}
.text{
  text-align: center;
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}
table{
  width: 100%;
  height: 100vh-46vh;
  overflow-y: scroll;
  display: block;
}
#search{
  margin-top: -3px;
  margin-left: 5px;
}

#add{
  margin-right: 1%;
}
#image{
  width: 25px;
  height: auto;
}

#catename{
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}

#imageside{
  width: 25px;
  height: auto;
  transform: scale(1.2);
}

#imageside:hover {
  transform: scale(1.5);
  transition: 0.5s ease;
}

#addmore{
  margin-left: 10px;
}

#imageright{
  width: 25px;
  height: auto;
  transform: scale(1.2);
}

#imageright:hover{
  transform: scale(1.5);
  transition: 0.5s ease;
}
