<div class="routingpart">
  <div class="card insidecard scale-up-hor-left">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="settlementAction()" id="settlementmain" class="badge badge-secondary">
        SETTLEMENT /
      </span>
      DISCOUNT
    </h5>

    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Percentage
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Amount
      </label>
    </div>

    <br>
    <br>
    <div class="row">
      <div class="col-sm-4"> Discount Perentage :</div>
      <div class="col-sm-6"> <input type="text" class="form-control" id="usr"></div>
    </div>
    <br>


    <div class="row">
      <div class="col-sm-4"> Remarks :</div>
      <div class="col-sm-6"> <input type="text" class="form-control" id="usr"></div>
    </div>

    <br>
    <div class="row">
      <div class="col-sm-4"> Total :</div>
      <div class="col-sm-6"> <input type="text" class="form-control" id="usr"></div>
    </div>

    <br>
    <div class="col-md-12 butonpanel">
      <button id="btn" type="button" class="btn btn-info float-right" (click)="okAction()">
        Save
      </button>
      <button id="btn" type="button" class="btn btn-info float-right" (click)="closeAction()">
        Close
      </button>
    </div>
  </div>
</div>
