<div class="card nav">
  <app-settlementnav> </app-settlementnav>
</div>

<div class="col-md-12">
  <div class="row">

    <div class="col2">
      <router-outlet></router-outlet>
    </div>

    <div class="col1">
      <button type="button" class="btn btn-secondary" id="Cancelation" routerLink="billcancelation">Cancelation</button>
      <button type="button" class="btn btn-secondary" id="pricelavel" routerLink="pricelvl">Price Lvl</button>
      <button type="button" class="btn btn-secondary" id="viewkot" routerLink="viewkot" (click)="viewkot()">View KOT</button>
      <button type="button" class="btn btn-secondary" id="print" routerLink="settlementmain" (click)="printAction()">Print</button>
      <button type="button" class="btn btn-secondary" id="settle" routerLink="settlementtype" (click)="settlemetnAction()">Settle</button>
      <button type="button" class="btn btn-secondary" id="discount" routerLink="discount">Discount</button>
      <button type="button" class="btn btn-dark" (click)="goHomeAction()">Back</button>
    </div>
  </div>
</div>
