<form>
  <div class="card maincard">
    <h5 id="titel" class="card-title">Bill Split</h5>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-3">
              <button id="btn" type="button" class="btn btn-primary">Exit</button>
            </div>
            <div class="col-md-6">
              <div class="form-group row line">
                <label class="col-md-2 col-form-label">Location</label>
                <div class="col-md-10">
                  <select class="form-control form-control-sm">
                    <!-- <option>Small select</option> -->
                  </select>
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-2 col-form-label">Beggining Date</label>
                <div class="col-md-4">
                  <select class="form-control form-control-sm" disabled>
                    <!-- <option>Small select</option> -->
                  </select>
                </div>
                <label class="col-md-2 col-form-label">Ending Date</label>
                <div class="col-md-4">
                  <select class="form-control form-control-sm">
                    <!-- <option>Small select</option> -->
                  </select>
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-2 col-form-label">Beginning Time</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <label class="col-md-2 col-form-label">Ending Time</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-2 col-form-label">User Name</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <label class="col-md-2 col-form-label">Shift Id</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <br>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 id="titel" class="card-title">Bill Split</h5>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">5000 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">2000 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">1000 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">500 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">100 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">50 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">20 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">10 Notes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">10 Ruppeies</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">5 Ruppeies</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">2 Ruppeies</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">1 Ruppeies</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">50 Centes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-4 col-form-label">25 Centes</label>
                <div class="col-md-4">
                  <input class="form-control form-control-sm" type="text">
                </div>
                <div class="col-md-4 ">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 id="titel" class="card-title">Bill Split</h5>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Cash In Drawer</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Cash Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Card Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Credit Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Sale Form Voucher(s)</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 id="titel" class="card-title">Bill Split</h5>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Opening Balance</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" disabled type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Cash Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Card Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">total Credit Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Sale From Voucher(s)</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Discount</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Cash In</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line line">
                <label class="col-md-5 col-form-label">Total Cash Out</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Refund</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Cancel</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label class="col-md-5 col-form-label">Total Sale</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

              <div class="form-group row line">
                <label id="ma" class="col-md-5 col-form-label">Excess/Shortage(+/-)</label>
                <div class="col-md-7">
                  <input class="form-control form-control-sm" type="text">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</form>
