<form id="panel" class="scale-up-hor-left">
  <div class="card maincard" id="mainmain">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="toolAction()" id="toolspan" class="badge badge-secondary">
        TOOLS /
      </span>
      CASH IN
    </h5>

    <div class="card-body">

      <div class="row">
        <div class="col-md-12">
          <form>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Recipt Number</label>
              <div class="col-sm-10">
                <input class="form-control form-control-sm" type="text">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
              <div class="col-sm-10">
                <input class="form-control form-control-sm" type="text">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <select class="form-control form-control-sm">
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Amout</label>
              <div class="col-sm-10">
                <select class="form-control form-control-sm">
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Remark</label>
              <div class="col-sm-10">
                <input class="form-control form-control-sm" type="text">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="form-group row"></div>

      <div class="col-md-12 butonpanel">
        <button id="btn" type="button" class="btn btn-primary float-right">
          Save
        </button>
        <div class="form-check float-right checkboxpanel">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label">
            Print Receipts
          </label>
        </div>
      </div>
    </div>
  </div>
</form>