<!-- <div class="container"  style="margin-left: -8px">
  <div class="row" ><h5 style="font-size: 1.3vw;">category</h5></div>
</div> -->

<div class="card" >
<div class="container" >
  <!-- <div class="row">
    <div class="form-group"  >
        <label for="usr">Code:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group" style="margin-left: 43%">
        <label for="pwd">Description:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
  </div> -->
    <table class="table">

        <thead class="Waiter">
            <tr>
              <th>  
                   <div class="form-group"  >
                  <label for="usr">Code:</label>
                  <input type="text" class="form-control" id="usr">
                </div>
              </th>
              <th> </th>
              <th> </th>
              <th> </th>
              <th>   
                  <div class="row"> 
                 <div class="form-group">
                  <label for="usr">Description:</label>
                  <input type="text" class="form-control" id="usr">
                </div>
              </div>
              </th>
            </tr>
          </thead>


      <thead class="thead-dark" style=" padding: -40px 2px;font-size: 12px;line-height: 8px;">
        <tr style=" padding: -40px 2px;font-size: 12px;line-height: 8px;">
          <th class="thead-light">Item Code</th>
          <th>Item Name</th>
          <th>Cost</th>
          <th>Sell Price</th>
          <th>Item Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>INCI001</td>
          <td>Americano</td>
          <td>0</td>
          <td>1,275.00</td>
          <td>1,275.00</td>
        </tr>
        <tr>
          <td>TSN009</td>
          <td>Aatirrachi Paal Poriya</td>
          <td>0</td>
          <td>1,600</td>
          <td>1,600</td>
        </tr>
        <tr>
          <td>COCH004</td>
          <td>Beer</td>
          <td>0</td>
          <td>382.0</td>
          <td>382.0</td>
        </tr>
      </tbody>
      </table>

     </div> 
    </div>