.maincard{
  margin: auto;
  margin-top: 40px;
  width: 80%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 1px solid #ddd;
  text-align: center;
}
thead{
  background-color: #e7e7e7;
 }
th, td {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  font-size:calc(2px + 1vw);
}
.thead{
  text-align: center;
  font-weight: 600;
  font-size:calc(2px + 1vw);
}



label{
  /*font-size: 1vw;*/
  font-size:calc(2px + 1vw);

}
.pricepane{
  text-align: right;
  /*font-size: 1vw;*/
  font-size:calc(2px + 1vw);
}
.pricepane-sub1{
  text-align: right;
}
#btn{
  font-size:calc(2px + 1vw);
  text-align: center;

  margin-left: 5px;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.butonpanel{
  margin-top: 15px;
}

.checkboxpanel{
    margin-top: 4px;
    margin-right: 15px;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}
#toolspan{
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#toolspan:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}



.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}


 .tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
