<!--
<div class="container" style="margin-left: -8px">
    <div class="row">
      <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Price Level</h5>
    </div>
  </div>

  <div class="mainbody">
    <div class="routingpart">
      <table class="table-bordered">
        <div class="col-md-12">
          <div class="row scale-up-center">
            <div class="col-md-2" *ngFor="let itemm of items | keyvalue" >

              <div class="card">
                <label id="labell">{{itemm.value.name| uppercase }}</label>
              </div>


            </div>
          </div>
        </div>


      </table>
    </div>
  </div>
 -->


<div class="mainbody">
  <div class="mainbody">
    <div class="routingpart">

      <table class="table-bordered">

        <div class="col-md-12">
          <div class="row scale-up-center">

            <div class="col-md-2" *ngFor="let itemm of items | keyvalue" (click)="selectItemAction(itemm.value)">
              <div class="card">
                <p class="aligncenter">
                  <img class="card-img-top" src="../../../../assets/img/foodtest.jpg" alt="Card image cap" />
                </p>
                <h5 class="card-title">{{itemm.value.name | uppercase }}</h5>
                <p class="card-text">Rs {{itemm.value.selling_pice}}</p>
              </div>
            </div>

            <div class="col-md-2" (click)="selectAllItemAction()">
              <div class="card">
                <p class="aligncenter">
                  <img class="card-img-top" src="../../../../assets/img/Plus Filled.png" alt="Card image cap" />
                </p>
                <h5 class="card-title">FULL PRICE</h5>
                <p class="card-text">Rs {{fullpriceofseletedcategory}}</p>
              </div>
            </div>


          </div>
        </div>
      </table>
    </div>
  </div>
</div>
