.maincard {

  margin: auto;
  margin-top: 40px;
  width: 98%;

  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
thead {
  background-color: #e7e7e7;
}
table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 200px;
  overflow-y: scroll;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}
th,
td {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  font-size: calc(2px + 1vw);
}
.thead {
  text-align: center;
  font-weight: 600;
  font-size: calc(2px + 1vw);
}

label {
  /*font-size: 1vw;*/
  font-size: calc(2px + 1vw);
}
.pricepane {
  text-align: right;
  /*font-size: 1vw;*/
  font-size: calc(2px + 1vw);
}
.pricepane-sub1 {
  text-align: right;
}
#btn {
  font-size: calc(2px + 1vw);
  text-align: center;
  margin-top: 15px;
  margin-left: 5px;
}

#titel {
  font-size: calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}
