
.btn{
  margin-left: 5px;
}


.col-form-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.form-check-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.btn-primary{
  font-size:calc(2px + 1vw);
  white-space: nowrap;
}
.checkbox{
  margin-left: 2%;
  margin-bottom: 10px;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.routingpart {
  width: 100vw; //
  height: 100vh-5vh;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.insidecard{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


/////////////
.itemcard{
  margin-top: 14px;
  padding: 3px;
  max-width: 160px;
  max-height: 160px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.itemcard:hover {
  transform: scale(1.1);
  transition: 0.9s ease;
}

.aligncenter {
  text-align: center;
}

.card-title {
  margin-top: -15px;
  text-align: center;
  font-weight: bold;
  font-size:calc(2px + 1vw);
  margin-bottom: 1px;
  white-space: nowrap;

}

.card-img-top {
  width: 80%;
  height: 80%;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
