.maincard{
  margin: auto;
  // margin-top: 80px;
  margin-top: 8%;
  width: 78%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  /*border-radius: 8px;*/
}
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}



#sebutton{
  width: 90%;
  height: 90%;
  background-color: #866161;
}





#btn{
  font-size:calc(2px + 1vw);
  text-align: center;
  margin-top: 15px;
  margin: 5px
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}


.subcard {
  margin-top: 14px;
  padding: 3px;
  width: 100%;
  height: 10vw;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  // background-color: beige;
}

.card-text{
  font-size: 1vmin;
  font-weight: 600;
  // margin-top: -1px;
  text-align: center;
  font-size:calc(2px + 1vw);
  font-weight: bold;
  color: black;
  white-space: nowrap;
  margin-top: 30%;
}

.subcard:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}
