<form>
    <div class="card maincard" id="mainmain">
      <h5 id="titel" class="card-title">Select Inhouse Guest</h5>
      <div class="card-body">

        <div class="row">
          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p> OUTSIDE</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card subcard">
              <div class="card-body">
                <p>201-JEEVA PILLAI,2</p>
                <p>01-31,02,Room Only , Sri Lanka</p>
                <p>Both Guest</p>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
  </form>
