
.qty{
  white-space: nowrap;
}

.count{
  text-align: center;
  border-radius: 10%;
  font-weight: 700;
  // font-size: calc(2px + 1vw);
  display: inline-block;
  border: #808B96;
  background-color: darkcyan;
  color: white;
  width: 3vw;
  height: 4.5vh;

  font-size:calc(2px + 2vw);
  font-size:calc(2px + 2vh);
}

.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  // width: 30px;
  // // height: 6vh;
  // height: 30px;
  font: 30px/1 Arial,sans-serif;
  // font-size: calc(2px + 2vw);
  text-align: center;
  border-radius: 10%;
  margin-left: 4px;
  width: 3vw;
  height: 4.5vh;
  font-size:calc(2px + 4vw);
  font-size:calc(2px + 4vh);
  }

.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  font: 30px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 10%;
  background-clip: padding-box;
  margin-right: 4px;

  width: 3vw;
  height: 4.5vh;

  font-size:calc(2px + 4vw);
  font-size:calc(2px + 4vh);
}

#totallabel{
  white-space: nowrap;
}
#functionpanel {
  border-collapse: collapse;
  margin-top: 1%;
  width: 100%;
  display: block;
  height: 100vh-68vh;
  background-color: white;
}

#totalpanel{
  margin-bottom: -8px;
}



#proceed{
  text-align: center;
  width: 100%;
  height: 100vh-88vh;
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   color: white;
}

#settle{
  width: auto;
  margin-top: 2%;
  text-align: center;
  // width: 100%;
  height: 100vh-88vh;
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  color: white;
}


#reset{
  text-align: center;
  margin-top: 2%;
  height: 100vh-88vh;
  background-color: red;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

#help{
  // margin: 1%;
  border-radius: 5%;
  margin-top: 2%;
  height: 100vh-88vh;
  text-align: center;
  // background-color: burlywood;
  background-color: burlywood;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}


 #settle:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

#proceed:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

.card:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}

.image {
  margin: auto;
  width: auto;
  height: 50%;
  margin-top: 5px;
  // margin-bottom: 10px;
}

#buttontext{
  white-space: nowrap;
  font-weight: 500;
  font-size:calc(2px + 1.2vw);

}

#resetbuttontext{
  white-space: nowrap;
  font-weight: 500;
  font-size:calc(2px + 1.2vw);
  color: white;
}

#screenbutton{
  // background-color: #4682B4;
  background-color: burlywood;
  text-align: center;
  margin-top: 2%;
  height: 100vh-88vh;
  border-radius: 5%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  // color: white;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



/// for text
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

#totalcount{
  font-size:calc(2px + 0.5vw);
  color: #866161;
  font-weight: bold;
  color: gray;
}

#count{

  font-size:calc(2px + 1.2vw);
  color: rgba(248, 72, 72, 0.795);
  font-weight: bold;
}
