<div id="functionpanel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="row scale-up-center" id="totalpanel">
          <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
              <div class="col-md-6" style="padding: 2%;">
                <div class="qty">
                  <span class="minus bg-dark" (click)="paxmunis()">-</span>
                  <input id="inpu" class="count" name="qty" value="1" [(ngModel)]="paxcount">
                  <span class="plus bg-dark" (click)="paxplus()">+</span>
                </div>
              </div>

              <div class="col-md-6" style="padding: 2%;" id="totallabel">
                <span id="totalcount">TOTAL RS <span id="count">{{totalAmount}}</span></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row scale-up-center">
          <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
              <div class="col-md-3" style="padding: 2%;" (click)="openFullscreen()">
                <div class="card" id="screenbutton">
                  <img class="card-img-top image" src="../../../../assets/img/screen.png" alt="Card image cap" />

                  <label id="buttontext">Screen</label>
                </div>
              </div>
              <div class="col-md-3" style="padding: 2%;" (click)="ReportAction()">
                <div class="card" id="help">
                  <img class="card-img-top image" src="../../../../assets/img/other.png" alt="Card image cap" />

                  <label id="buttontext">Report</label>
                </div>
              </div>

              <!-- notificeation temp button -->
              <button id="tempbutton" style="display: none" data-toggle="modal" data-target="#proceederror"></button>

              <div class="col-md-6" style="padding: 2%;" (click)="processedAction()">
                <div class="card" id="proceed">
                  <img class="card-img-top image" src="../../../../assets/img/Proceed.png" alt="Card image cap" />
                  <label id="buttontext">Proceed</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row scale-up-center">
          <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
              <div class="col-md-3" style="padding: 2%;" (click)="resetAction()">
                <div class="card" id="reset">
                  <img class="card-img-top image" src="../../../../assets/img/reset.png" alt="Card image cap" />
                  <label id="resetbuttontext">Reset</label>
                </div>
              </div>
              <div class="col-md-3" style="padding: 2%;">
                <div class="card" id="help">
                  <img class="card-img-top image" src="../../../../assets/img/help.png" alt="Card image cap" />
                  <label id="buttontext">Help</label>
                </div>
              </div>

              <div class="col-md-6" style="padding: 2%;" (click)=" settlementAction()">
                <div class=" card" id="settle">
                  <img class="card-img-top image" src="../../../../assets/img/settle.png" alt="Card image cap" />
                  <label id="buttontext">Settle</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
