
.card-img-top {
  // padding: 6px;
  // max-width: 90px;
  // max-height: 90px;
  // height: auto;
  width: 100%;
  height: 100%;
}

.aligncenter {
  text-align: center;
}

.card {
  margin-top: 14px;
  padding: 3px;
  // width: auto;
  max-width: 160px;
  max-height: 160px;
  // border-radius: 10%;
  // margin-right: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

// .card-text {
//   font-size: 1vmin;
//   font-weight: bold;
//   text-align: center;
// }

.card-title {
  margin-top: -15px;
  text-align: center;
  font-weight: bold;
  font-size:calc(2px + 1vw);
  margin-bottom: 1px;

}

// .card-text{
//   margin-top: -7px;
//   text-align: center;
//   font-size:calc(2px + 1vw);
//   font-weight: bold;
//   color: red;
// }

.card:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}

 //text
 .tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
 @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

 table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 100vh-11vh;
  overflow-y: scroll;
}

table,td,th {
  border: 1px solid #ddd;
  text-align: center;
  border: #ddd;
}

.routingpart {
  height: 100vh-37vh;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


#modelbutton{
  height: 30px;
  border: 30px;
}

.modal-body{
  text-align: center;
}

#outsidebutton{
  margin-left: 40px;
  margin-right: 70px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  height: 100vh-88vh;
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   color: white;
}

#outsidebutton:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

#insidebutton{
  margin-left: 60px;
  margin-right: 70px;
  text-align: center;
  width: 100%;
  height: 100vh-88vh;
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   color: white;
}

#insidebutton:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}


.image{
    margin: auto;
    width: auto;
    height: 50%;
    margin-top: 5px;
    // margin-bottom: 10px;
}


#buttontext{
  margin-top: 5px;
  white-space: nowrap;
  font-weight: 500;
  font-size:calc(2px + 1.2vw);
  margin-bottom: 10px;
}
