<div class="card nav">
  <app-settlementnav> </app-settlementnav>
</div>

<div class="col-md-12">
  <div class="row">

    <div class="col2">
      <router-outlet></router-outlet>
    </div>

    <div class="col1">
      <button type="button" class="btn btn-secondary">Cancelation</button>
      <button type="button" class="btn btn-secondary">Price Lvl</button>
      <button type="button" class="btn btn-secondary" routerLink="settlemencash">View KOT</button>
      <button type="button" class="btn btn-secondary" routerLink="settlementmain">Print</button>
      <button type="button" class="btn btn-secondary" routerLink="settlementtype">Settle</button>
      <button type="button" class="btn btn-secondary" routerLink="discount">Discount</button>
      <button type="button" class="btn btn-dark" (click)="goHomeAction()">Back</button>
    </div>
  </div>
</div>
