.maincard {
  margin: auto;
  margin-top: 40px;
  width: 50%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

label {
  /*font-size: 1vw;*/
  font-size: calc(2px + 1vw);
}
.pricepane {
  text-align: right;
  /*font-size: 1vw;*/
  font-size: calc(2px + 1vw);
}
.pricepane-sub1 {
  text-align: right;
}
#btn {
  font-size: calc(2px + 1vw);
  text-align: center;

  margin-left: 5px;
}

#titel {
  font-size: calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

#sublabel {
  font-size: calc(2px + 1vw);
  font-weight: 600;
  background-color: gainsboro;
  border-radius: 5px;
  // border: 10px;
  padding: 5px;
  margin: 10px;
}

#majorlabel {
  font-size: calc(2px + 1vw);
  font-weight: 400;
  margin: 10px;
}

.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
