<div class="mainbody">
  <div class="col-md-12">
    <div class="row scale-up-center">
      <div class="card button text-center" routerLink="routingsearchcomponent">
        <img class="card-img-top image" src="../../../../assets/img/search.png" alt="Card image cap" />
      </div>
    </div>
    <div class="row scale-up-center">
      <div class="card button" routerLink="routinglocationcomponent">
        <img class="card-img-top image" src="../../../../assets/img/location.png" alt="Card image cap" />
      </div>
    </div>
    <div class="row scale-up-center">
      <div class="card button" routerLink="routingservicemancomponent">
        <img class="card-img-top image" src="../../../../assets/img/icons8-food-service-90.png" alt="Card image cap" />
      </div>
    </div>
    <div class="row scale-up-center">
      <div class="card button" routerLink="routingtablecomponent">
        <img class="card-img-top image" src="../../../../assets/img/table.png" alt="Card image cap" />
      </div>
    </div>

    <div class="row scale-up-center">
      <div class="card button" routerLink="routingitemcomponent">
        <img class="card-img-top image" src="../../../../assets/img/items.png" alt="Card image cap" />
      </div>
    </div>

    <div class="row scale-up-center">
      <div class="card button" routerLink="routinginhousecomponent">
        <img class="card-img-top image" src="../../../../assets/img/inhouse.png" alt="Card image cap" />
      </div>
    </div>

    <div class="row scale-up-center">
      <div class="card button" routerLink="routingpricelevelcomponent">
        <img class="card-img-top image" src="../../../../assets/img/pricelavelchange.png" alt="Card image cap" />
      </div>
    </div>



  </div>
</div>
