<div class="modal-body">
  <div class="row scale-up-hor-left">
    <div class="col-md-2 card" style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label>Cash </label>
      </p>
      <!-- <h5 class="card-title">Cash</h5> -->
    </div>
    <div class="col-md-2.1 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> Chandrew_Change</label>
      </p>
      <!-- <h5 class="card-title">Credit Card</h5> -->
    </div>
    <div class="col-md-2.2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> OOO_Sapro</label>
      </p>
      <!-- <h5 class="card-title">BB HB FB</h5> -->
    </div>
    <div class="col-md-2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> Hari_Hari</label>
      </p>
      <!-- <h5 class="card-title">Room</h5> -->
    </div>
    <div class="col-md-2.2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> Form_Sahana </label>
      </p>
    </div>
    <div class="col-md-2.2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> Prem_Prem </label>
      </p>
    </div>
    <div class="col-md-2.2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label> PRASANTH-PRASANTH </label>
      </p>
    </div>
    <div class="col-md-2.2 card " style="background-color: lightslategray">
      <p class="aligncenter">
        <br>
        <label>kAVISHNA-krishna </label>
      </p>
    </div>


    <br>
    <br>
  </div>
</div>
