.card-img-top {
    margin-top: 6px;
    max-width: 70px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
  
  .aligncenter {
    text-align: center;
  }
  
  
  .card {
    margin-top: 15px;
    width: auto;
    height: 150px;
    max-width: 160px;
    max-height: 160px;
    border-radius: 10%;
    margin-right: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  }
  
  .card-text {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1vmin;
    font-weight: bold;
    text-align: center;
  }
  
  .card-title {
    // margin-top: 40px;
    font-size: 1.6vmin;
    text-align: center;
    font-weight: bold;
  }
  
  // .card-text{
  //   margin-top: 20px;
  //   text-align: center;
  //   font-size: 15px;
  //   font-weight: bold;
  //   color: red;
  // }
  
  .card:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  
  .scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
   @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}
  
  
    //text
    .tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
    @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
  
  
  