<!-- <p>
  discount works!
</p> -->

<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
     
      View KOT

    </button>
  
    <!-- /////////////////////////////////////////////////////////////////////// -->
  
    <div class="row">
      <div class="card button">
          <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
      
      
        </div>
  </div>
  
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
    <!-- ///////////////////////////////////////////////// -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <!-- <div class="modal-dialog" style="background-color: yellow"> -->

      <div class="modal-dialog" style=" width: 1000px">
        <div class="modal-content" style="width: 1000px">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"> View KOT</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body" style="width: 1000px">
            <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->
  
   <div class="row">
      <!-- <div class="col-sm-8">  -->


          <div class="container">
              <!-- <h2>Table Head Colors</h2> -->
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Transaction No</th>
                    <th>KOT/BOT</th>
                    <th>KOT/BOT No</th>
                    <th>Item Code</th>
                    <th>Discription</th>
                    <th>Qty</th>
                    <th>Selling Price</th>
                    <th>Amount</th>
                   
                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TR4848</td>
                    <td>KOT</td>
                    <td>4959</td>
                    <td>BITE 2</td>
                    <td>01kg Devill</td>
                    <td>1.0</td>
                    <td>1535.42</td>
                    <td>1535.44</td>
                  </tr>
                  <tr>
                      <td>TR4848</td>
                      <td>KOT</td>
                      <td>4959</td>
                      <td>BITE 2</td>
                      <td>01kg Devill</td>
                      <td>1.0</td>
                      <td>1535.42</td>
                      <td>1535.44</td>
                  </tr>
                  <tr>
                      <td>TR4848</td>
                      <td>KOT</td>
                      <td>4959</td>
                      <td>BITE 2</td>
                      <td>01kg Devill</td>
                      <td>1.0</td>
                      <td>1535.42</td>
                      <td>1535.44</td>
                  </tr>
                </tbody>
              </table>
            </div>  

            
            <br>
            <br>
<!-- /////////////////////////////////////////////////// -->

            <!-- <div class="col-sm-4" >  Bill Amount :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br>
                
                <div class="col-sm-4" >  Loyalty No:</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                 -->
           
<!-- </div> -->
              </div>
  

  
  
  
            <br>
            <!-- /////////////////////////////////////// -->
          
          <!-- Modal footer -->
          <div class="modal-footer">
             
              <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
          </div>
          
        </div>
      </div>
    </div>
    
  </div>
  