<div class="modal-body">
  <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="comment">Remark:</label>
        <textarea class="form-control" rows="5" id="comment" name="text" style="width: 470px"></textarea>
      </div>
    </div>
  </div>
  <br>
  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Ok</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>

</div>
