<div class="container" id="exampleModal11">
  <div class="row">
    <div class="modal-content" id="exampleModal1" style="margin-top: 100px">
      <div class="headr">
        <div class="col-md-4">
          <button id="close" style="background-color: red;color: whitesmoke; margin-top: 10px; margin-bottom: 10px;" class=" btn"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <form action="" method="post">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-3">
              <label for="userEmail">Location :</label>
            </div>

            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="password" value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label for="userEmail">Date :</label>
            </div>

            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="password" value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label for="userEmail">Password :</label>
            </div>

            <div class="col-md-9">
              <div class="form-group">
                <input type="password" class="form-control" required="" name="password" value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label for="userEmail">Float :</label>
            </div>

            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" required="" name="password" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
       
          <button type="input" name="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i>
            Start</button>

        </div>
      </form>

    </div>
  </div>
</div>