<form>
  <div class="card maincard">
    <h5 id="titel" class="card-title">Bill Split</h5>
    <div class="card-body">

      <h5 id="titel" class="card-title">Remark</h5>
      <div class="card-body">
        <div class="container-fluid">
          <div class="row scale-up-hor-left">
            <div class="col-md-12">
              <div class="row">
                <textarea class="form-control" rows="5" id="comment" name="text" style="width: 470px"></textarea>
              </div>

              <div class="row">
                <button type="button" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
