<div class="card nav">
  <!-- <app-navbar></app-navbar> -->
</div>

<div class="col-md-12">
  <div class="row">
    <div class="col1 card">
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-dark" (click)="goHomeAction()">Back</button>
    </div>
    <div class=" col2 card">
      <!-- <router-outlet></router-outlet> -->
      <!-- <app-routingfunctions></app-routingfunctions> -->
    </div>

  </div>
</div>
