<div class="maincard card" id="menubar">
  <div class="col-md-12">
    <div class="row itemrow scale-up-ver-top">
      <div style="width: 8%;">
        <p class="tracking-in-expand-fwd"id="mainlabel">Sapro</p>
      </div>
      <div style="width: 15%;">
        <div class="row">
          <!-- <img class="" src="https://cdn4.iconfinder.com/data/icons/contact-us-19/48/100-512.png" /> -->
          <p class="tracking-in-expand-fwd-top" id="locationid">{{location.name}}</p>
        </div>
      </div>
      <div style="width: 12%;">
        <div class="row">
          <div class="row">
          </div>
          <p class="tracking-in-expand-fwd-top" id="sublabel"> {{serviceman.name}}</p>
        </div>
      </div>
      <div style="width: 8%;">
        <div class="row tracking-in-expand-fwd-top">
          <p id="tableName">{{table.name}}</p>
        </div>
      </div>
      <div style="width: 8%;" class="tracking-in-expand-fwd-top">
        <p id="sublabel">{{InsideOrOuteside}}</p>
      </div>
      <div style="width:18%;" class="tracking-in-expand-fwd-top">
        <p id="sublabel">{{pricelevel.name}}</p>
      </div>
      <div style="width: 10%;" class="tracking-in-expand-fwd-top">
        <p id="sublabel">2019.01.24</p>
      </div>
      <div style="width: 10%;" class="tracking-in-expand-fwd-top">
        <p id="sublabel">03:07 PM</p>
      </div>
      <div style="width: 10%;" class="tracking-in-expand-fwd-top">
        <div class="row">
          <p id="sublabel">Haritha Perera</p>
          <!-- <img src="https://cdn4.iconfinder.com/data/icons/contact-us-19/48/100-512.png" /> -->
        </div>
      </div>
    </div>
  </div>
</div>
