<form id="panel" class="scale-up-hor-left ">
  <div class="card maincard" id="mainmain">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="toolAction()" id="toolspan" class="badge badge-secondary">
        TOOLS /
      </span>
      ROOMING LIST
    </h5>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="thead" scope="col" width="10%">Room No</th>
                    <th class="thead" scope="col">Guest Name</th>
                    <th class="thead" scope="col">Pax</th>
                    <th class="thead" scope="col">Cha.Child</th>
                    <th class="thead" scope="col">Comp.Child</th>
                    <th class="thead" scope="col">Departure Date</th>
                    <th class="thead" scope="col">Meal Plan</th>
                    <th class="thead" scope="col">Notes</th>
                    <th class="thead" scope="col">Price Level</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of inhouseitem | keyvalue">
                    <th class="trow">{{payment.value.saFoRoomId}}</th>
                    <th class="trow">{{payment.value.guestName}}</th>
                    <th class="trow">{{payment.value.saFoRoomId}}</th>
                    <th class="trow">{{payment.value.chargeableChildCount}}</th>
                    <th class="trow">{{payment.value.complimentaryChildCount}}</th>
                    <th class="trow">{{payment.value.departureDate}}</th>
                    <th class="trow">{{payment.value.saFoMealPlanId}}</th>
                    <th class="trow">{{payment.value.remark}}</th>
                    <th class="trow">{{payment.value.saPriceLevelId}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row"></div>

      <div class="col-md-12 butonpanel">
        <button id="btn" type="button" class="btn btn-primary float-right" data-dismiss="modal">
          OK
        </button>

      </div>
    </div>
  </div>
</form>