<div class="routingpart">
  <div class="card insidecard">
    <h5 id="titel" class="card-title">Settlement Cash</h5>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Loyalty No : </label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" id="inputEmail3">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Sub Total :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="row checkboxpanel">
      <div class="form-check checkbox ">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Add Points
        </label>
      </div>
      <div class="form-check checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck2">
          Discount
        </label>
      </div>
      <div class="form-check checkbox">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Add Points
        </label>
      </div>

    </div>


    <div class="form-group row loyltytext">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Loyalty Disc :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Disc.Amount :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Grand Total :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Balance :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Remarks :</label>
      <div class="col-sm-10">
        <input type="password" class="form-control form-control-sm" id="inputPassword3">
      </div>
    </div>

    <div class="col-md-12 butonpanel">
      <button id="btn" type="button" class="btn btn-info float-right" (click)="okAction()">
        OK
      </button>
      <button id="btn" type="button" class="btn btn-info float-right" (click)="closeAction()">
        Close
      </button>
    </div>
  </div>
</div>
