<!-- <p>
  discount works!
</p> -->

<div class="container">
  <h2>Modal Example</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
   Vouchers
  </button>

  <!-- /////////////////////////////////////////////////////////////////////// -->

  <div class="row">
    <div class="card button">
        <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
    
    
      </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
  <!-- ///////////////////////////////////////////////// -->

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Vouchers</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <!-- Modal body..
//////////////////////////////////////////////////////////////// -->

 <div class="row">
              <div class="col-sm-4" >Voucher No :</div>
              <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
              <br>
              <br>
              
              <div class="col-sm-4" >Sub total :</div>
              <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
              

            </div>
            <br>
            <div class="row">
                <div class="col-sm-4" > Balance :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br>
                
                <div class="col-sm-4" > Remarks:</div>
                <div class="col-sm-6">
                <textarea class="form-control" rows="3" id="comment" name="text" style="width: 240px"></textarea>
              </div>
  
              </div>

<br>
          
   <br>
          <!-- /////////////////////////////////////// -->
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Ok</button>    
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
