<div class="container">
  <h2>Fading Modal</h2>
  <p>Add the "fade" class to the modal container if you want the modal to fade in on open and fade out on close.</p>

  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Numeric  Pad
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Numeric  Pad</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
                <div class="btn-group">
                    <input class="text-center form-control-lg mb-2" id="code">
                </div>
                <div class="btn-group">
                    <button type="button" style="background-color: 	#696969; color: white" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '1';">1</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '2';">2</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '3';">3</button>
                </div>
                <div class="btn-group">
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '4';">4</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '5';">5</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '6';">6</button>
                </div>
                <div class="btn-group">
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '7';">7</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '8';">8</button>
                    <button type="button" style="background-color: 	#696969; color: white"  class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '9';">9</button>
                </div>
                <div class="btn-group">
                    <button type="button" style="width: 37px;background-color: 	#696969; color: white" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '.';"> . </button>
                    <button type="button" style="background-color: 	#696969; color: white" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '0';">0</button>
                    <!-- <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '.';">.</button> -->
                    
                    <button type="button" class="btn btn-primary py-3"    style="background-color:#696969 " onclick="document.getElementById('code').value=document.getElementById('code').value.slice(0, -1);">C</button>
              
              
                    <!-- <button type="button" class="btn btn-primary py-3" onclick="">Go</button> -->
              
              
                </div>
                <br>
                <button type="button" class="btn btn-primary py-3"    style="background-color:#696969 " onclick="document.getElementById('code').value=document.getElementById('code').value.slice(0, 0);">Clear</button>

              </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>

