<div class="container" style="margin-left: -8px">
  <div class="row">
    <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Location</h5>
  </div>
</div>

<div class="mainbody">
  <div class="routingpart">

    <table class="table-bordered">

      <div class="col-md-12">
        <div class="row scale-up-center">
          <div class="col-md-2" *ngFor="let location of locations" (click)="locationClickAction(location)">
            <div class="card">
              <p class="aligncenter">
                <img class="card-img-top" src="../../../../assets/img/locationicontest.png" alt="Card image cap" />
              </p>
              <h5 class="card-title">{{location.name}}</h5>
            </div>
          </div>
        </div>
      </div>


    </table>
  </div>
</div>
