

.text{
  text-align: center;
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}
table{
  width: 100%;
  height: 100vh-38vh;
  overflow-y: scroll;
  display: block;
}
#search{
  margin-top: -3px;
  margin-left: 5px;
}

// #add{
//   margin-right: 1%;
// }
// #image{
//   width: 25px;
//   height: auto;
// }
#viewkot{
  margin-left: 5px;
}
#catename{
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}

// #imageside{
//   width: 25px;
//   height: auto;
//   transform: scale(1.2);
// }

// #imageside:hover {
//   transform: scale(1.5);
//   transition: 0.5s ease;
// }


// #imageright{
//   width: 25px;
//   height: auto;
//   transform: scale(1.2);
// }

// #imageright:hover{
//   transform: scale(1.5);
//   transition: 0.5s ease;
// }


thead {
  background-color: #e7e7e7;
  text-align: center;
  font-weight: 600;
  font-size: calc(2px + 1vw);
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}
// th,
// td {
//   padding: 8px;
//   text-align: center;
//   font-weight: 400;
//   font-size: calc(2px + 1vw);
// }

.routingpart {
  width: 100vw-6.5vw; //93.5
  height: 100vh-5vh;

  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}
.insidecard{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}
