.maincard{
    margin: auto;
    margin-top: 10px;
    width: 98%;
    /*padding: 10px;*/
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    /*border-radius: 8px;*/
  }

  .card{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  }

  #titel{
    font-size:calc(2px + 1vw);
    color: #866161;
    font-weight: bold;
  }
  .line{
    margin: 0px;
  }
  input,select{
    height: 26px;
    font-size:calc(2px + 0.5vw);
  }
  label{
    font-size:calc(2px + 0.6vw);
    white-space: nowrap;
    font-weight: 600;
  }



  #btn{
    font-size:calc(2px + 1vw);
    text-align: center;
  }



