.maincard{
  margin: auto;
  margin-top: 10px;
  width: 98%;
  /*padding: 10px;*/
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  /*border-radius: 8px;*/
}

.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
  margin-left: 1.3%;
}
.line{
  margin: 0px;
}
input,select{
  height: 26px;
  font-size:calc(2px + 0.5vw);
}
label{
  font-size:calc(2px + 0.6vw);
  white-space: nowrap;
  font-weight: 600;
}
#btn{
  font-size:calc(2px + 1vw);
  text-align: center;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}
#toolspan{
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#toolspan:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}



