<table class="myTable " id="customers">

  <tr class="table-header scale-up-center" id="tableh">
    <th class="text center" height="50" width="5%">
      <img id="image" src="../../../../assets/img/Recycle Bin.png" (click)="removeAllorderDetails()" alt="not Image">
    </th>
    <th class="text" width="2%">Description</th>
    <th class="text" width="2%">UnitPrice</th>
    <th class="text" width="2%">Qty</th>
    <th class="text" width="2%">Amount</th>
  </tr>

  <tr class="table-row" *ngFor="let item of items | keyvalue">
    <td height="50" class="text" width="5%">
      <img id="image" src="../../../../assets/img/Recycle Bin2.png" (click)="removeselectedItem(item.value.searchKey)"
        alt="not Image">
    </td>
    <td class="text" width="2%">{{item.value.name}}</td>
    <td class="text" width="2%">{{item.value.selling_pice}}</td>
    <td (click)="changitemqty(item,item.value.searchKey)" id="qtychange" data-toggle="modal" data-target="#myModal"
      class="text" width="2%">
      {{item.value.qty}}</td>
    <td id="amount" class="text" width="2%">{{item.value.amount}}.00</td>
  </tr>

</table>

<!-- <div class="container">
  <app-discount></app-discount>
</div> -->

<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="myModal" >
    <div class="modal-dialog"  style="width: 360px; margin-left: 38%; margin-top: 9%">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body" id="calbody">
          <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
            <div class="btn-group">
              <input class="text-center form-control-lg mb-2" id="code">
            </div>
            <div class="btn-group">
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '1';">1</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '2';">2</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '3';">3</button>
            </div>
            <div class="btn-group">
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '4';">4</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '5';">5</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '6';">6</button>
            </div>
            <div class="btn-group">
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '7';">7</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '8';">8</button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '9';">9</button>
            </div>
            <div class="btn-group">
              <button type="button" style="width: 37px;background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '.';"> .
              </button>
              <button type="button" style="background-color: 	#696969; color: white"
                class="btn btn-outline-secondary py-3"
                onclick="document.getElementById('code').value=document.getElementById('code').value + '0';">0</button>
              <!-- <button type="button" class="btn btn-outline-secondary py-3" onclick="document.getElementById('code').value=document.getElementById('code').value + '.';">.</button> -->

              <button type="button" class="btn btn-primary py-3" style="background-color:#696969 "
                onclick="document.getElementById('code').value=document.getElementById('code').value.slice(0, -1);">C</button>


              <button type="button" class="btn btn-primary py-3" (click)="changeValues()" data-dismiss="modal">Go</button>


            </div>
            <br>
            <button type="button" class="btn btn-primary py-3" style="background-color:#696969 "
              onclick="document.getElementById('code').value=document.getElementById('code').value.slice(0, 0);">Clear</button>

          </div>
        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->

      </div>
    </div>
  </div>

</div>
