<div class="card maincard scale-up-hor-left">
  <h5 id="titel" class="">
    <span id="home" (click)="homeAction()" class="badge badge-secondary">
      <i class="fas fa-home"></i> /
    </span>
    <span (click)="settlementAction()" id="toolspan" class="badge badge-secondary">
      TOOLS /
    </span>
    SETTLEMENT
  </h5>
  <div class="card-body">
    <div class="col-md-12">
      <div class="row">

        <table class="table-bordered">
          <div class="col-md-12">
            <div class="row scale-up-center">
              <div class="col-md-2" *ngFor="let settlementtype of settlementtypes | keyvalue">
                <div class="card cardd" *ngIf="settlementtype.value.name === 'cash'" (click)="settlementcash()">
                  <p class="aligncenter">
                    <img class="card-img-top" src="../../../../assets/img/cashtype.png" alt="Card image cap" />
                  </p>
                  <h5 class="card-title">{{settlementtype.value.name | uppercase }}</h5>
                </div>

                <div class="card cardd" *ngIf="settlementtype.value.name === 'card'" (click)="settlementcash()">
                  <p class="aligncenter">
                    <img class="card-img-top" src="../../../../assets/img/cashtype.png" alt="Card image cap" />
                  </p>
                  <h5 class="card-title">{{settlementtype.value.name | uppercase }}</h5>
                </div>

                <div class="card cardd" *ngIf="settlementtype.value.name === 'Hottel Account'" (click)="settlementcash()">
                  <p class="aligncenter">
                    <img class="card-img-top" src="../../../../assets/img/cashtype.png" alt="Card image cap" />
                  </p>
                  <h5 class="card-title">{{settlementtype.value.name | uppercase }}</h5>
                </div>

                <div class="card cardd" *ngIf="settlementtype.value.name === 'Owner Account'" (click)="settlementcash()">
                  <p class="aligncenter">
                    <img class="card-img-top" src="../../../../assets/img/cashtype.png" alt="Card image cap" />
                  </p>
                  <h5 class="card-title">{{settlementtype.value.name | uppercase }}</h5>
                </div>
              </div>
            </div>
          </div>
        </table>
      </div>
    </div>
  </div>
