
.maincard{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 10%;
}
.card-img-top {
  width: 80%;
  height: 80%;
}
.inrow{
  margin-top: 8%;
}
#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 5px;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}
#toolspan{
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#toolspan:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.cardd {
  margin-top: 14px;
  padding: 3px;
  max-width: 160px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
.card-title {
  margin-top: -15px;
  text-align: center;
  font-weight: bold;
  font-size:calc(2px + 1vw);
  margin-bottom: 1px;

}

.cardd:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 100vh-25vh;
  overflow-y: scroll;
}

table,td,th {
  border: 1px solid #ddd;
  text-align: center;
  border: #ddd;
}
