<form>
  <!-- <div class="card maincard" id="mainmain"> -->
  <h5 id="titel" class="card-title">Settle Types</h5>
  <!-- <div class="card-body"> -->
  <div class="container-fluid">
    <div class="row scale-up-hor-left">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-2" *ngFor="let settlementtype of settlementtypes | keyvalue">
            <div class="card subcard" *ngIf="settlementtype.value.name === 'cash'" (click)="settlementcash()">
              <p class="card-text">{{settlementtype.value.name | uppercase }}</p>
            </div>

            <div class="card subcard" *ngIf="settlementtype.value.name === 'card'" data-dismiss="modal"
              data-toggle="modal" data-target="#settlementtypeCash">
              <p class="card-text">{{settlementtype.value.name | uppercase }}</p>
            </div>

            <div class="card subcard" *ngIf="settlementtype.value.name === 'Hottel Account'" data-dismiss="modal"
              data-toggle="modal" data-target="#settlementtypeHotelAccount">
              <p class="card-text">{{settlementtype.value.name | uppercase }}</p>
            </div>

            <div class="card subcard" *ngIf="settlementtype.value.name === 'Owner Account'" data-dismiss="modal"
              data-toggle="modal" data-target="#settlementtypeowneraccout">
              <p class="card-text">{{settlementtype.value.name | uppercase }}</p>
            </div>
          </div>


        </div>
      </div>


    </div>
    <!-- </div> -->
  </div>
  <!-- </div> -->
</form>
