<div class="container" style="margin-left: -8px">
  <div class="row">
    <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Tables</h5>
  </div>
</div>

<div class="mainbody">
  <div class="routingpart">

    <table class="table-bordered">

      <div class="col-md-12">
        <div class="row scale-up-center">

          <div class="col-md-2" *ngFor="let table of alltables" data-toggle="modal" data-target="#exampleModalCenter"
            (click)="tableclickAction(table)">
            <div class="card">
              <p class="aligncenter">
                <img *ngIf="table.status === 0" class="card-img-top" src="../../../../assets/img/GreenTable.jpg"
                  alt="Card image cap" />
                <img *ngIf="table.status === 1" class="card-img-top" src="../../../../assets/img/RedTable.jpg"
                  alt="Card image cap" />
                <img *ngIf="table.status === 2" class="card-img-top" src="../../../../assets/img/BlueTable.jpg"
                  alt="Card image cap" />
              </p>
              <h5 class="card-title">{{table.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </table>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Guest Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col card" id="insidebutton" data-dismiss="modal" routerLink="/home/routinginhousecomponent">
              <img class="card-img-top image" src="../../../../assets/img/insideicon.png" alt="Card image cap" />
              <label id="buttontext">IN SIDE</label>
            </div>
            <div class="col card" id="outsidebutton" data-dismiss="modal" (click)="outsideAction()">
              <img class="card-img-top image" src="../../../../assets/img/outside.png" alt="Card image cap" />
              <label id="buttontext"> OUT SIDE</label>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer center"> -->
      <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Inside</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OutSide</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
