<div class="container">
  <div class="row">
    <div class="modal-content" id="exampleModal1">
      <div class="modal-header">

        <h4 class="modal-title">Authorization</h4>
      </div>
      <form action="" method="post">
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="userEmail">Approved By :</label>
                <select class="form-control">
                  <optgroup label="Swedish Cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                  </optgroup>
                  <!-- <optgroup label="German Cars">
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </optgroup> -->
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">User Name :</label>
                <input type="text" class="form-control" required="" name="password" value="">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" class="form-control" required="" name="password" value="">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="userEmail">Reason : *</label>
              <select class="form-control">
                <optgroup label="Swedish Cars">
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                </optgroup>
              </select>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <!-- <input type="hidden" name="isEmpty" value=""> -->
          <button type="input" name="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i>
            Proceed</button>
          <button type="button" class="btn btn-danger btn-icon" data-dismiss="modal"><i class="fa fa-times-circle"></i>
            Close</button>
        </div>
      </form>

    </div>
  </div>
</div>