<form id="panel" class="scale-up-hor-left ">
    <div class="card maincard" id="mainmain">
      <h5 id="titel" class="card-title">
          <span id="home" (click)="homeAction()" class="badge badge-secondary">
            <i class="fas fa-home"></i> /
          </span>
          <span (click)="toolAction()" id="toolspan" class="badge badge-secondary">
            TOOLS /
          </span>
          MOVE TABLE
        </h5>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Transfer From</label>
          <div class="col-md-3">
            <select class="form-control form-control-sm" (change)="getOrderDetailsByRoomID($event.target.value)">
              <option>Select</option>
              <option *ngFor="let payment of tableitems | keyvalue" ng-model="selectedCar">{{payment.value.saPosTableId}}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table class="table-bordered">
                  <thead>
                    <tr>
                      <th class="thead" scope="col" width="10%">Bill No</th>
                      <th class="thead" scope="col">Bill Date</th>
                      <th class="thead" scope="col">Guest Name</th>
                      <th class="thead" scope="col">Outlect</th>
                      <th class="thead" scope="col">Table No</th>
                      <th class="thead" scope="col">Waiter No</th>
                      <th class="thead" scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let payment of seletedTableitemsToTable | keyvalue" (click)="tableClick(payment)">
                      <th class="trow">{{payment.value.searchKey}}</th>
                      <td class="trow">{{payment.value.billStartTime}}</td>
                      <td class="trow">{{payment.value.guestsabpartnerid}}</td>
                      <td class="trow">{{payment.value.saLocationId}}</td>
                      <td class="trow">{{payment.value.saPosTableId}}</td>
                      <td class="trow">{{payment.value.saLocationId}}</td>
                      <td class="trow">{{payment.value.subTotal}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row"></div>

        <div class="col-md-12 butonpanel">
          <label class="col-form-label  float-left">Transfer To</label>
          <div class="col-md-3  float-left">
            <select class="form-control form-control-sm" (change)="setTransferID($event.target.value)">
              <option>Select</option>
              <option *ngFor="let payment of tableitems | keyvalue">{{payment.value.saPosTableId}}</option>
            </select>
          </div>
          <button id="btn" type="button" class="btn btn-primary float-right" (click)="resetAction()">
            Reset
          </button>
          <button id="btn" type="button" class="btn btn-primary float-right" (click)="TransferAction()">
            Transfer
          </button>
          <button id="btn" type="button" class="btn btn-primary float-right" data-dismiss="modal">
            Exit
          </button>
        </div>
      </div>
    </div>
  </form>
