.maincard{
  margin: auto;
  margin-top: 40px;
  width: 78%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  /*border-radius: 8px;*/
}
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}
p{
  /*font-size: 1vw;*/
  font-size:calc(2px + 0.9vw);
  margin: -1px;
  font-weight: 600;
  opacity: 0.9;
  text-align: center;

}
#btn{
  font-size:calc(2px + 1vw);
  text-align: center;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.subcard{
  margin: 5px;
}
