<!-- The Modal -->
<!-- <div class="modal" id="myModal">
  <div class="modal-dialog"> -->
<!-- <div class="modal-content"> -->

<!-- Modal Header -->
<div class="modal-header">
  <h4 class="modal-title">Cash Without Loyalty</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-header">
  <div class="col align-self-center">
    <!--One of three columns-->

    <!--<label> Yash </label>
              <input type="text" />-->

    <!-- <div class="row"> -->
    <div class="col-sm-6">Pos Master ID : </div>
    <div class="col-sm-13"> <input type="text" class="form-control" id="usr" value="{{selectsettlement.saPosMasterId}}">
    </div>
    <!-- </div> -->
  </div>
  <div class="col align-self-end">
    <!-- One of three columns -->
    <h6>Numeric Pad </h6>
    <div class="row">

      <!--<div class="col-sm-8">-->
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">1</button>
                         <button type="button" class="btn btn-danger" data-dismiss="modal1">2</button>
                         <button type="button" class="btn btn-danger" data-dismiss="modal1">3</button> -->
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">1</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">2</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">3</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">4</button>
      </div>



    </div>
    <!--</div >-->

    <div class="row">
      <!--<div class="col-sm-8">-->
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">4</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">5</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">6</button>
                        -->
      <!--</div>-->
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">5</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">6</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">7</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">8</button>
      </div>

    </div>

    <div class="row">
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal1">7</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">8</button>
                          <button type="button" class="btn btn-danger" data-dismiss="modal1">9</button>
                     -->
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">9</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">0</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">.</button>
      </div>
      <div class="col-sm-2.8"><button type="button" class="btn btn-primary" style="background-color: gray">C</button>
      </div>


    </div>


  </div>


</div>


<!-- Modal body -->
<div class="modal-body">
  <!-- Modal body..

        <div class="row">
          <!-- <div class="col-sm-4" > Received :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br> -->

  <div class="col-sm-4"> Grand Total:</div>
  <div class="col-sm-6"> <input type="text" class="form-control" id="usr" value="{{selectsettlement.subTotal}}"></div>

  <div class="col-sm-4"> Receive:</div>
  <div class="col-sm-6"> <input type="text" class="form-control" id="usr" [(ngModel)]="receive"
      (keyup.enter)="balancecalculate()"></div>


</div>
<br>
<div class="row">
  <div class="col-sm-4"> Balance :</div>
  <div class="col-sm-6"> <input type="text" class="form-control" id="usr" [(ngModel)]="balance"></div>
  <br>
  <br>

  <div class="col-sm-4"> Remarks:</div>
  <div class="col-sm-6"> <input type="text" class="form-control" id="usr" [(ngModel)]="remarks"></div>


</div>

<br>

<br>
<!-- /////////////////////////////////////// -->

<!-- Modal footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="CashOkAction()">Ok</button>
  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>

<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
