<div class="routingpart">
  <div class="card insidecard">
    <h5 id="titel" class="card-title">Bill Cancelation</h5>

    <div class="row">
      <div class=" col-md-8">
        <form action="#">
          <div class="input-group">
            <div class="col-8">

            </div>
          </div>
        </form>
      </div>
      <div class=" col-md-4">
        <form action="#" method="get">
          <div class="input-group">
            <input class="form-control form-control-sm" id="system-search" name="q" placeholder="Search for" required
              placeholder="User Input">
            <span class="input-group-btn">
              <button id="search" type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
            </span>
            <br>
          </div>
        </form>
      </div>

      <div id="table-scroll" class=" col-md-12">
        <table id="itemtbl" class="table-list-search table">
          <thead>
            <tr id="tablehed">
              <th class="text" width="10%">INV NO</th>
              <th class="text" width="20%">Location</th>
              <th class="text" width="10%">Table</th>
              <th class="text" width="10%">Waiter</th>
              <th class="text" width="10%">Sub Total</th>
              <th class="text" width="10%">Srvice Charges</th>
              <th class="text" width="10%">TDL</th>
              <th class="text" width="10%">Net Total</th>
              <th class="text" width="10%">Pay Type</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of items | keyvalue"></tr>
              <td *ngIf="item.value.remark === 'selected'" class="text" width="10%"> <img id="imageright"
                  src="../../../../assets/img/CheckedCheckbox.png" (click)="SelectItemAction(item.value.saItemMasterId)"
                  alt="not Image"></td>
              <td *ngIf="item.value.remark === 'unselected'" class="text" width="10%"> <img id="imageright"
                  src="../../../../assets/img/UncheckedCheckbox.png"
                  (click)="SelectItemAction(item.value.saItemMasterId)" alt="not Image"></td>
              <td class="text" width="10%">{{item.value.saItemMasterId}}</td>
              <td class="text" width="20%">{{item.value.name}}</td>
              <td class="text" width="20%">{{item.value.selling_pice}}</td>
              <td class="text" width="10%">{{item.value.main_category_name}}</td>
              <td class="text" width="10%">{{item.value.sub_category_name}}</td>
              <td *ngIf="item.value.remark === 'unselected'" class="text" width="10%"> <img id="imageside"
                  src="../../../../assets/img/Plus Filled.png" (click)="SelectItemAction(item.value.saItemMasterId)"
                  alt="not Image"></td>
              <td *ngIf="item.value.remark === 'selected'" class="text" width="10%"> <img id="imageside"
                  src="../../../../assets/img/Trash Can (2).png" (click)="SelectItemAction(item.value.saItemMasterId)"
                  alt="not Image"></td>
            </tr> -->

          </tbody>
        </table>
        <div class="footer">

          <!-- <button id="viewkot" class="btn btn-secondary float-right btn-sm" (click)="addMoreItemAction()">ADD
            View KOT</button>
          <button id="remove" class="btn btn-danger float-right btn-sm" (click)="deleteAction()">Close</button> -->

        </div>
      </div>

    </div>
  </div>
</div>
