

.nav {
  height: 4vh;
  margin-bottom: 1vh;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}
.col1 {
  // margin-left: 4px;
  width: 7%;
  margin-right: 1%;
  height: 100vh-5vh;
  bottom: 0;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.col2 {
  width: 92%;
  background-color: coral;
  height: 100vh-5vh;
  bottom: 0;
  padding-left: 30px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.btn{
  height: 15%;
  // margin-top: 9px;
  margin-top: 9px;
  margin-left: 4%;
  width: 90%;
  white-space: nowrap;
  font-size: 0.8vw;
}
