<div class="routingpart">
  <div class="card insidecard scale-up-hor-left">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="settlementAction()" id="settlementmain" class="badge badge-secondary">
        SETTLEMENT /
      </span>
      SETTLEMENT CASH WITHUT LOYALTY
    </h5>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Pos Master ID : </label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" id="inputEmail3" value="{{selectsettlement.saPosMasterId}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Grand Total :</label>
      <div class="col-sm-10">
        <input type="tex" class="form-control form-control-sm" id="inputPassword3"
          value="{{selectsettlement.subTotal}}">
      </div>
    </div>

    <div class="form-group row loyltytext">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Receive :</label>
      <div class="col-sm-10">
        <input type="tex" class="form-control form-control-sm" id="inputPassword3" [(ngModel)]="receive"
          (keyup.enter)="balancecalculate()">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Balance :</label>
      <div class="col-sm-10">
        <input type="tex" class="form-control form-control-sm" id="inputPassword3" [(ngModel)]="balance">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Remark :</label>
      <div class="col-sm-10">
        <input type="tex" class="form-control form-control-sm" id="inputPassword3" [(ngModel)]="remarks">
      </div>
    </div>


    <div class="col-md-12 butonpanel">
      <button id="btn" type="button" class="btn btn-info float-right" (click)="CashOkAction()">
        OK
      </button>
      <button id="btn" type="button" class="btn btn-info float-right" (click)="closeAction()">
        Close
      </button>
    </div>
  </div>
</div>
