

<div class="routingpart">
  <div class="card insidecard scale-up-hor-left">
    <h5 id="titel" class="card-title">
        <span id="home" (click)="homeAction()" class="badge badge-secondary">
          <i class="fas fa-home"></i> /
        </span>
        SETTLEMENT MAIN
      </h5>
    <table class="table-bordered">
      <thead>
        <tr>
          <th class="thead" scope="col" width="5%">Location</th>
          <th class="thead" scope="col">Table</th>
          <th class="thead" scope="col">Waiter</th>
          <th class="thead" scope="col">Trn No</th>
          <th class="thead" scope="col">Sub Total</th>
          <th class="thead" scope="col">Discount</th>
          <th class="thead" scope="col">Service Charges</th>
          <th class="thead" scope="col">NBT</th>
          <th class="thead" scope="col">TDL</th>
          <th class="thead" scope="col">VAT</th>
          <th class="thead" scope="col">Taxs</th>
          <th class="thead" scope="col">Net Total</th>
          <th class="thead" scope="col">Pay Tax</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let settlement of settlements | keyvalue" (click)="tableclickAction(settlement.value)">
          <th class="trow">{{settlement.value.saLocationId}}</th>
          <td class="trow">{{settlement.value.saPosTableId}}</td>
          <td class="trow">{{settlement.value.servicemanSaBpartnerId}}</td>
          <td class="trow">{{settlement.value.Trn}}</td>
          <td class="trow">{{settlement.value.subTotal}}</td>
          <th class="trow">{{settlement.value.discountAmount}}</th>
          <td class="trow">{{settlement.value.Service}}</td>
          <td class="trow">{{settlement.value.NBT}}</td>
          <td class="trow">{{settlement.value.TDL}}</td>
          <td class="trow">{{settlement.value.Taxs}}</td>
          <th class="trow">{{settlement.value.Net}}</th>
          <td class="trow">{{settlement.value.Location}}</td>
          <td class="trow">{{settlement.value.Pay}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
