<!-- <div class="footer">
  <form action="#" method="post" novalidate="novalidate">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 p-0">
          <div class="cd">
            <label>Pax</label>
          </div>
          <div class="qty ">
            <span class="minus bg-dark" (click)="paxmunis()">-</span>
            <input id="inpu" type="number" class="count" name="qty" value="1" [(ngModel)]="paxcount">
            <span class="plus bg-dark" (click)="paxplus()">+</span>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 p-0 ">
          <label>Total Amount</label>
          <input id="total" class="form-control" placeholder="Total Amount" name="total" [(ngModel)]="totalAmount">
        </div>
      </div>
    </div>
    <br>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 p-0">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 p-0 ">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 p-0 ">
          <button (click)="processedAction()" style="background-color: aliceblue;" type="button"
            class="btn btn-default btn-circle btn-xl"><i class="fa fa-check"></i></button>
          <button data-toggle="modal" data-target="#settlementMain"> Click Me</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settlementMain2">
            Pay Mode
          </button>

          <button type="button" class="btn btn-primary" (click)="openFullscreen()">
            Full
          </button>


          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#settlement">
            settlement
          </button>
        </div>
      </div>
    </div>
  </form>
</div> -->



<div id="functionpanel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="qty">
                  <span class="minus bg-dark" (click)="paxmunis()">-</span>
                  <input id="inpu" type="number" class="count" name="qty" value="1" [(ngModel)]="paxcount">
                  <span class="plus bg-dark" (click)="paxplus()">+</span>
                </div>
              </div>
              <div class="col-md-6 tracking-in-expand " id="totallabel">
                <span id="totalcount">TOTAL - <span id="count">RS {{totalAmount}}</span></span>
              </div>
            </div>
          </div>
        </div>

        <div class="row scale-up-center">
          <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
              <div class="col-md-3" style="padding: 2%;" (click)="openFullscreen()">
                <div class="card" id="screenbutton">
                  <img class="card-img-top image" src="../../../../assets/img/screen.png" alt="Card image cap" />

                  <label id="buttontext">Screen</label>
                </div>
              </div>
              <div class="col-md-3" style="padding: 2%;" (click)="ReportAction()">
                <div class="card" id="help">
                  <img class="card-img-top image" src="../../../../assets/img/other.png" alt="Card image cap" />

                  <label id="buttontext">Report</label>
                </div>
              </div>
              <div class="col-md-6" style="padding: 2%;" (click)="processedAction()">
                <div class="card" id="proceed">
                  <img class="card-img-top image" src="../../../../assets/img/Proceed.png" alt="Card image cap" />
                  <label id="buttontext">Proceed</label>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row scale-up-center">
          <div class="col-md-12">
            <div class="row" style="white-space: nowrap;">
              <div class="col-md-3" style="padding: 2%;" (click)="resetAction()">
                <div class="card" id="reset">
                  <img class="card-img-top image" src="../../../../assets/img/reset.png" alt="Card image cap" />
                  <label id="resetbuttontext">Reset</label>
                </div>
              </div>
              <div class="col-md-3" style="padding: 2%;">
                <div class="card" id="help">
                  <img class="card-img-top image" src="../../../../assets/img/help.png" alt="Card image cap" />
                  <label id="buttontext">Help</label>
                </div>
              </div>

              <div class="col-md-6" style="padding: 2%;" (click)=" settlementAction()">
                <div class=" card" id="settle">
                  <img class="card-img-top image" src="../../../../assets/img/settle.png" alt="Card image cap" />
                  <label id="buttontext">Settle</label>
                </div>
              </div>


            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
