

<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">

      Bill Cancelation

    </button>

    <!-- /////////////////////////////////////////////////////////////////////// -->

    <div class="row">
      <div class="card button">
          <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >


        </div>
  </div>

  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
    <!-- ///////////////////////////////////////////////// -->

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <!-- <div class="modal-dialog" style="background-color: yellow"> -->

      <div class="modal-dialog" style=" width: 1000px">
        <div class="modal-content" style="width: 1000px">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"> Bill Cancelation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" style="width: 1000px">
            <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->

   <div class="row">
      <!-- <div class="col-sm-8">  -->


          <div class="container">
              <!-- <h2>Table Head Colors</h2> -->
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th>Inv No</th>
                    <th>Location</th>
                    <th>Table</th>
                    <th>Waiter</th>
                    <th>Sub Total</th>
                    <th>Discount</th>
                    <th>Service Charges</th>
                    <th>TDL</th>
                    <th>Net Total</th>
                    <th>Pay Type</th>


                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>POS4797</td>
                    <td>Rest 1</td>
                    <td>300</td>
                    <td>W001</td>
                    <td>1843</td>
                    <td>840</td>
                    <td>120</td>
                    <td>12</td>
                    <td>1560</td>
                    <td>ROOM-201</td>
                  </tr>
                  <tr>
                      <td>POS4793</td>
                      <td>Rest 1</td>
                      <td>300</td>
                      <td>W001</td>
                      <td>1843</td>
                      <td>840</td>
                      <td>120</td>
                      <td>12</td>
                      <td>1560</td>
                      <td>ROOM-203</td>
                  </tr>
                  <tr>
                      <td>POS4793</td>
                      <td>Rest 1</td>
                      <td>300</td>
                      <td>W001</td>
                      <td>1843</td>
                      <td>840</td>
                      <td>120</td>
                      <td>12</td>
                      <td>1560</td>
                      <td>ROOM-204</td>
                  </tr>
                </tbody>
              </table>
            </div>


            <br>
            <br>
<!-- /////////////////////////////////////////////////// -->

            <!-- <div class="col-sm-4" >  Bill Amount :</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                <br>
                <br>

                <div class="col-sm-4" >  Loyalty No:</div>
                <div class="col-sm-6">   <input type="text" class="form-control" id="usr"></div>
                 -->

<!-- </div> -->
              </div>





            <br>
            <!-- /////////////////////////////////////// -->

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">View KOT</button>
              <button type="button" class="btn btn-primary">Cancel</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
          </div>

        </div>
      </div>
    </div>

  </div>
