<div class="container" style="margin-left: -8px">
  <div class="row">
    <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Modified Favourite</h5>
  </div>
</div>

<div class="mainbody">
  <div class="routingpart">
    <div class="col-md-12">
      <div class="row scale-up-center">
        <div class="col-md-2" *ngFor="let favouritecatorgary of allcatogaries"
          (click)="favoriteAClickAction(favouritecatorgary)">
          <div class="card">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/favourite3.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">{{favouritecatorgary.name}}</h5>
          </div>
        </div>
        <div class="col-md-2" (click)="plusButtonAction()">
          <div class="card">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/add.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">ADD</h5>
          </div>
        </div>
      </div>
    </div>
    <app-addfavourite></app-addfavourite>
  </div>

</div>
