
  <div class="card maincard scale-up-hor-left" id="mainmain">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="toolAction()" id="toolspan" class="badge badge-secondary">
        TOOLS /
      </span>
      MERGE BILL
    </h5>

    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-1 col-form-label">Merge</label>
        <div class="col-md-2">
          <select class="form-control form-control-sm" (change)="margefistAction1($event.target.value)">
            <option>Selecte Bill Number</option>
            <option *ngFor="let item of lists1 | keyvalue">{{item.value}}</option>
          </select>
        </div>
        <label class="col-md-1 col-form-label">Merge</label>
        <div class="col-md-2">
          <select class="form-control form-control-sm" (change)="SelectTableValue($event.target.value)">
            <option>Selecte Bill Number</option>
            <option *ngFor="let item of lists2 | keyvalue"><label>{{item.value}}</label>
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body" id="tablediv">
              <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="thead" scope="col" width="5%">TrnNO</th>
                    <th class="thead" scope="col">Item Code</th>
                    <th class="thead" scope="col">Qty</th>
                    <th class="thead" scope="col">Price</th>
                    <th class="thead" scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tablerow of tablerows">
                    <th class="trow">{{tablerow.transactionName}}</th>
                    <td class="trow">{{tablerow.itemCode}}</td>
                    <td class="trow">{{tablerow.qty}}</td>
                    <td class="trow">@{{tablerow.price}}</td>
                    <td class="trow">@{{tablerow.total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <table class="table-bordered">
                <thead>
                  <tr>
                    <th class="thead" width="10%" scope="col">TranNo</th>
                    <th class="thead" scope="col">Item Code</th>
                    <th class="thead" scope="col">Item Name</th>
                    <th class="thead" scope="col">Qty</th>
                    <th class="thead" scope="col">Price</th>
                    <th class="thead" scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="trow">1</th>
                    <td class="trow">Mark</td>
                    <td class="trow">Otto</td>
                    <td class="trow">@mdo</td>
                    <td class="trow">@mdo</td>
                    <td class="trow">@mdo</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-12">
            <button id="btn" type="button" class="btn btn-primary float-right" (click)="resetAction()">
              Reset
            </button>
            <button id="btn" type="button" class="btn btn-primary float-right">
              Split Bill
            </button>
            <button id="btn" type="button" class="btn btn-primary float-right" data-dismiss="modal">
              Exit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
