.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
      width: 800px;
  }
  .modal-header {
    border-bottom: 1px solid #48a4ac;
    background: #61bdc5;
    min-height: 16.4286px;
    padding: 10px 15px;
    color:#ffffff; 
 
  }
  .closes{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
  }
  .modal-body {
    position:relative;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
 
  }
  .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
  }
 .end{
     text-align: right;
     margin-top: 8px;
     font-family:Georgia, 'Times New Roman', Times, serif;
     border-bottom: 2px solid black; 
     margin-right: 1px;  
     font-style:Italic;
 }
