.maincard{
  margin: auto;
  margin-top: 20px;
  width: 98%;
  padding: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  /*border-radius: 8px;*/
}
.card{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}
table, td, th {
  border: 1px solid #ddd;
  text-align: center;
}
thead{
 background-color: #e7e7e7;
}
th, td {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  font-size:calc(2px + 1vw);
}
.thead{
  text-align: center;
  font-weight: 600;
  font-size:calc(2px + 1vw);
}







label{
  /*font-size: 1vw;*/
  font-size:calc(2px + 1vw);

}
.pricepane{
  text-align: right;
  /*font-size: 1vw;*/
  font-size:calc(2px + 1vw);
}
.pricepane-sub1{
  text-align: right;
}
#btn{
  font-size:calc(2px + 1vw);
  text-align: center;
  margin-top: 15px;
  margin: 5px
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.ordertable{
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 100vh-65vh;
  overflow-y: scroll;
}

.orderdetailtable{
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 100vh-65vh;
  overflow-y: scroll;
}

#addbtn{

}
