.button {
  background-color: #808B96;
  width: auto;
  height: 50px;
  margin-top: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  // margin-left: auto;
  // margin-right: auto;

}

.button:hover {
  transform: scale(1.07);
  transition: 0.5s ease;
  background-color: #283747;
}

.image {
  margin: auto;
  width: 50%;
  height: 50%;
  margin-top: 13px;
  margin-bottom: 10px;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
