<!-- <form class="mainview"> -->
<div class="card maincard">
  <h5 id="titel" class="card-title">Bill Split</h5>
  <div class="card-body">
    <div class="row" id="remove">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <table class="table-bordered ordertable">
              <thead>
                <tr>
                  <th class="thead" scope="col" width="10%">Trn No</th>
                  <th class="thead" scope="col">Table No</th>
                  <th class="thead" scope="col">Waiter No</th>
                  <th class="thead" scope="col">Total</th>
                  <th class="thead" scope="col">Discount</th>
                  <th class="thead" scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ProceedTableOrder of ProceedTableOrders | keyvalue"
                  (click)="tableclickAction(ProceedTableOrder.value.saPosMasterId)">
                  <th class="trow">{{ProceedTableOrder.value.searchKey}}</th>
                  <td class="trow">{{ProceedTableOrder.value.saPosTableId}}</td>
                  <td class="trow">{{ProceedTableOrder.value.servicemanSaBpartnerId}}</td>
                  <td class="trow">{{ProceedTableOrder.value.subTotal}}</td>
                  <td class="trow">{{ProceedTableOrder.value.discountAmount}}</td>
                  <td class="trow">{{ProceedTableOrder.value.subTotal}}</td>
                </tr>


              </tbody>
            </table>

            <br />

            <table class="table-bordered orderdetailtable">
              <thead>
                <tr>
                  <th class="thead" width="5%" scope="col">KOT/BOT</th>
                  <th class="thead" width="20%" scope="col">Code</th>
                  <th class="thead" width="20%" scope="col">Discription</th>
                  <th class="thead" width="5%" scope="col">Qty</th>
                  <th class="thead" width="20%" scope="col">U.Price</th>
                  <th class="thead" width="30%" scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Proceeditem of Proceeditems | keyvalue"
                  (click)="orderdetailsTableAction(Proceeditem.value)">
                  <th class="trow">{{Proceeditem.value.saPosOrderTicketTypeId}}</th>
                  <td class="trow">{{Proceeditem.value.itemMasterId}}</td>
                  <td class="trow">{{Proceeditem.value.remark}}</td>
                  <td class="trow">{{Proceeditem.value.quentity}}</td>
                  <td class="trow">{{Proceeditem.value.unitPrice}}</td>
                  <td class="trow">{{Proceeditem.value.unitPrice*Proceeditem.value.quentity}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Item Code</label>
          <div class="col-md-10">
            <input [(ngModel)]="itemcode" class="form-control form-control-sm" readonly type="text" />
          </div>
        </div>

        <div class="form-group row">

          <label class="col-md-2 col-form-label">Total QTY</label>

          <div class="col-md-3">
            <input [(ngModel)]="totalqty1" readonly class="form-control form-control-sm" type="text" />
          </div>

          <label class="col-md-2 col-form-label">Total QTY</label>

          <div class="col-md-3">
            <input [(ngModel)]="totalqty2" class="form-control form-control-sm" type="text" />
          </div>

          <div class="col-md-2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="addAction()">ADD</button>
          </div>

        </div>

        <div class="card">
          <div class="card-body">
            <table class="table-bordered">
              <thead>
                <tr>
                  <th class="thead" width="75%" scope="col">KOT/BOT</th>
                  <th class="thead" scope="col">Code</th>
                  <th class="thead" scope="col">Discription</th>
                  <th class="thead" scope="col">Qty</th>
                  <th class="thead" scope="col">U.Price</th>
                  <th class="thead" scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let temProceeditemma of temProceeditemmap | keyvalue">
                  <th class="trow">{{temProceeditemma.value.saPosOrderTicketTypeId}}</th>
                  <td class="trow">{{temProceeditemma.value.itemMasterId}}</td>
                  <td class="trow">{{temProceeditemma.value.remark}}</td>
                  <td class="trow">{{temProceeditemma.value.quentity}}</td>
                  <td class="trow">{{temProceeditemma.value.unitPrice}}</td>
                  <td class="trow">{{temProceeditemma.value.unitPrice*temProceeditemma.value.quentity}}</td>
                </tr>
              </tbody>
            </table>

            <br />

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-12">
                    <button id="btn" type="button" class="btn btn-primary">
                      Create New Bill
                    </button>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="col-md-12">
                    <div class="row pricepane">
                      <div class="col-md-6 pricepane-sub1">Sub Total :</div>
                      <div class="col-md-6">0.00</div>
                    </div>

                    <div class="row pricepane">
                      <div class="col-md-6">Discount :</div>
                      <div class="col-md-6">0.00</div>
                    </div>

                    <div class="row pricepane">
                      <div class="col-md-6">Next Total :</div>
                      <div class="col-md-6">0.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="card">
          <div class="card-body">
            <table class="table-bordered">
              <thead>
                <tr>
                  <th class="thead" width="75%" scope="col">KOT/BOT</th>
                  <th class="thead" scope="col">Code</th>
                  <th class="thead" scope="col">Discription</th>
                  <th class="thead" scope="col">Qty</th>
                  <th class="thead" scope="col">U.Price</th>
                  <th class="thead" scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="trow">1</th>
                  <td class="trow">Mark</td>
                  <td class="trow">Otto</td>
                  <td class="trow">@mdo</td>
                  <td class="trow">@mdo</td>
                  <td class="trow">@mdo</td>
                </tr>
              </tbody>
            </table>

            <div class="col-md-12">
              <button id="btn" type="button" class="btn btn-primary float-right">
                Exit
              </button>
              <button id="btn" type="button" class="btn btn-primary float-right">
                Split Bill
              </button>
              <button id="btn" type="button" class="btn btn-primary float-right">
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </form> -->
