

.text{
  text-align: center;
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}
table{
  width: 100%;
  height: 100vh-38vh;
  overflow-y: scroll;
  display: block;
}
#search{
  margin-top: -3px;
  margin-left: 5px;
}

// #add{
//   margin-right: 1%;
// }
// #image{
//   width: 25px;
//   height: auto;
// }
#viewkot{
  margin-left: 5px;
}
#catename{
  font-size: 1vmax;
  white-space: nowrap;
  font-weight: 600;
}

// #imageside{
//   width: 25px;
//   height: auto;
//   transform: scale(1.2);
// }

// #imageside:hover {
//   transform: scale(1.5);
//   transition: 0.5s ease;
// }


// #imageright{
//   width: 25px;
//   height: auto;
//   transform: scale(1.2);
// }

// #imageright:hover{
//   transform: scale(1.5);
//   transition: 0.5s ease;
// }


thead {
  background-color: #e7e7e7;
  text-align: center;
  font-weight: 600;
  font-size: calc(2px + 1vw);
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}
// th,
// td {
//   padding: 8px;
//   text-align: center;
//   font-weight: 400;
//   font-size: calc(2px + 1vw);
// }

.routingpart {
  width: 100vw-6.5vw; //93.5
  height: 100vh-5vh;

  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}
.insidecard{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}



#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}
#settlementmain{
  background-color: #808B96;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
#settlementmain:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}
