// .routingcard{
//   height:100vh-15vh;
//   bottom: 0%;
//   background-color: brown;
// }

.nav {
  // background-color: brown;
  height: 4vh;
  margin-bottom: 1vh;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}
.col1 {
  // background-color: burlywood;
  height: 100vh-5vh;
  bottom: 0;
  // margin-left: 10px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.col2 {
  background-color: #f8f8f8;
  height: 100vh-5vh;
  bottom: 0;
  padding-left: 30px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

.col3 {
  // background-color: darkorchid;
  height: 100vh-5vh;
  bottom: 0;
  width: 100%;
  // margin-right: 10px;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.52);
}

#settingpenel {
  position: fixed;
  width: 50%;
  height: 70%;
  right: 0px;
  bottom: 0px;
  transition: 0.5s;

  -webkit-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
}

#toolspanel {
  position: fixed;
  width: 30%;
  height: 50%;
  right: 0px;
  bottom: 0px;
  transition: 0.5s;

  -webkit-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
}

#fvouritepanel {
  position: fixed;
  width: 50%;
  height: 55%;
  right: 0px;
  bottom: 0px;
  transition: 0.5s;

  -webkit-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
}


#sidepenelbutton {
  width: 100%;
  height: auto;
  min-height: 90px;
  max-height: 60px;
  margin-left: 0%;
  margin-right: 0px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.cardbutton {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 0.7vw;
  float: right;
  // font-weight: bold;
  font-weight: 600;
  text-align: center;
}

.cardbutton:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.card-img-top {
  max-width: 70px;
  max-height: 70px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
}

#closebutton {
  background-color: red;
  font-weight: 600;
  opacity: 0.9;
}

.card-title {
  font-weight: 600;
  opacity: 0.8;
  font-size: 1.5vw;
}

#make {
  width: 5%;
  height: 37%;
  position: fixed;
  bottom: -10%;
  right: 0%;
}

#btnk {
  margin-top: 4%;
  width: 100%;
  height: 30%;
  margin-left: 35%;
  transform: rotate(270deg);
  white-space: nowrap;
  font-size: 0.8vw;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #37474f;
}
#btnk:hover {
  margin-left: 10%;
  transition: 0.5s;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: 600;
  background-color: #ffa726;
}

#buttonlabel {
  text-align: center;
  margin-top: 25px;
}


.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}



#keybordview{

  width: 50%;
  height: 50%;
  position: fixed;
  bottom: 20%;
  left: 25%;
  // left: 50%;
  transition: 0.5s;
  background-color: white;
    -webkit-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 22px 8px rgba(0, 0, 0, 0.16);
}

.modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  height: 99%;
}




.fade{
  overflow: hidden;
}


// side button
.scale-up-hor-right {
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}


.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
