<div class="card nav">
  <app-navbar> </app-navbar>
</div>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-3 col1 card">
      <app-orderdetail></app-orderdetail>
      <app-functions></app-functions>
    </div>
    <div class="col-md-8 col2 card">
      <router-outlet></router-outlet>
    </div>

    <div class="col col3 card">
      <app-routingfunctions></app-routingfunctions>
    </div>
  </div>
</div>


<div id="make">
  <button (click)="getAllFavouriteCatorgary()" class="btn btn-primary scale-up-hor-right" id="btnk">
    Fvourite
  </button>
  <button (click)="toolAction()" class="btn btn-primary scale-up-hor-right" id="btnk">
    Tools
  </button>
</div>




<!-- error message -->
<div class="container">
  <!-- The Modal -->
  <div class="modal fade" id="proceederror">
    <div class="modal-dialog scale-up-center" style=" margin-top: 9%; height: 300px;" data-dismiss="modal">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body" id="calbody">
          <p style="text-align: center;">
            <img class="card-img-top heartbeat" style="min-width: 110px; min-height: 110px;"
              src="../../../../assets/img/{{notification.image}}" alt="Card image cap" />
          </p>
          <p style="text-align: center;">
            <label style="font-size:45px;color: #866161;font-weight: bold;">{{notification.title}}</label>
          </p>
          <p style="text-align: center;">
            <label style="font-size:15px;color: #866161;font-weight: bold;">{{notification.discription}}</label>
          </p>
        </div>

        <!-- Modal footer -->
        <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

      </div>
    </div>
  </div>
</div>
