
.btn{
  margin-left: 5px;
}


.col-form-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.form-check-label{
  font-size:calc(1px + 1vw);
  // color: black;
  white-space: nowrap;
}

.btn-primary{
  font-size:calc(2px + 1vw);
  white-space: nowrap;
}
.checkbox{
  margin-left: 2%;
  margin-bottom: 10px;
}

#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

.routingpart {
  width: 100vw; //
  height: 100vh-5vh;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.insidecard{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}


/////////////
.itemcard{
  margin-top: 14px;
  padding: 3px;
  max-width: 160px;
  max-height: 160px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.itemcard:hover {
  transform: scale(1.1);
  transition: 0.9s ease;
}

.aligncenter {
  text-align: center;
}

.card-title {
  margin-top: -15px;
  text-align: center;
  font-weight: bold;
  font-size:calc(2px + 1vw);
  margin-bottom: 1px;
  white-space: nowrap;

}

.card-img-top {
  width: 80%;
  height: 80%;
}
