<div class="routingpart">
  <div class="card insidecard">
    <br>
    <h5 id="titel" class="card-title">Settlement Cash</h5>

    <div class="col-md-12">
      <div class="row scale-up-center">

        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/reprint.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">RE PRINT</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/transfericon.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">TRANSFER</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/rooming list.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">ROOMING LIST</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/movetable.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">MOVE TABLE</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/bill split.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">BILL SPLIT</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/create table.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CREATE TABLE</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/credit customer.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CREDIT CUSTOMER</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/gust specials.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">GUEST SPECIALS</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/merge bill.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">MARGE BILL</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/setting.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">SETTING</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/cash in.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CASH IN</h5>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card itemcard">
            <p class="aligncenter">
              <img class="card-img-top" src="../../../../assets/img/cash out.png" alt="Card image cap" />
            </p>
            <h5 class="card-title">CASH OUT</h5>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="col-md-12 butonpanel">
      <button id="btn" type="button" class="btn btn-info float-right" (click)="closeAction()">
        Close
      </button>
    </div>
  </div>
</div>
