<!-- <app-dashboard></app-dashboard> -->
<!-- <app-orderdetail></app-orderdetail> -->
<!-- <app-loginmain></app-loginmain> -->

<!-- <router-outlet></router-outlet> -->

<!--
    <app-authorisation></app-authorisation> -->

<!-- <app-authorisation></app-authorisation> -->
<!--

<!-- <app-staff> </app-staff> -->
<!-- <app-pay-mode> </app-pay-mode> -->
<!-- <app-pay-mode> </app-pay-mode> -->
<!-- <app-pay-mode> </app-pay-mode> -->
<!-- <app-authorisation></app-authorisation> -->

<!-- <app-staff> </app-staff> -->
<!-- <app-settlement-main> </app-settlement-main> -->
<!-- <app-cash> </app-cash> -->
<!-- <app-cash-without-loyality> </app-cash-without-loyality> -->
<!-- <app-creditcard-withloyalty> </app-creditcard-withloyalty> -->
<!-- <app-hotel-account> </app-hotel-account> -->
<!-- <app-complementary> </app-complementary> -->
<!-- <app-test></app-test> -->

<!-- <app-owner-account> </app-owner-account> -->

<!-- <app-view-kot> </app-view-kot> -->
<!-- <<app-bill-cancelation> </app-bill-cancelation> -->
<!-- <app-settlement-main> </app-settlement-main> -->

<!-- <app-cheque> </app-cheque> -->
<!-- <app-others> </app-others> -->
<!-- <app-settlement-type> </app-settlement-type> -->
<!-- <app-staffs> </app-staffs> -->


<!-- <app-cash-without-loyality> </app-cash-without-loyality> -->

<!-- <app-creditcard-withloyalty> </app-creditcard-withloyalty> -->
<!-- <app-dayend></app-dayend> -->
<!-- <app-dayend></app-dayend> -->

<!-- <app-cashin></app-cashin> -->

<!-- <app-cashout></app-cashout> -->


<!-- <app-shiftstart></app-shiftstart> -->
<!--
    <app-shiftend></app-shiftend> -->


<!-- <app-shiftend></app-shiftend> -->


<!-- <app-shiftend></app-shiftend> -->

<!-- <app-creditcard-withoutloyalty> </app-creditcard-withoutloyalty> -->

<!-- <app-settlement-main> </app-settlement-main> -->
<!-- <app-voucher> </app-voucher> -->

<!-- <app-character-pad> </app-character-pad>>>>>>>> .r41 -->

<!-- <app-pos-report></app-pos-report> -->



<router-outlet></router-outlet>


<!-- <app-bill-split></app-bill-split> -->

<!-- <app-billtransfer></app-billtransfer> -->

<!-- <app-mergebill></app-mergebill> -->

<!-- <app-reprint></app-reprint> -->

<!-- <app-cashin></app-cashin> -->

<!-- <app-cashout></app-cashout> -->

<!-- <app-test></app-test> -->
