<div class="container" style="margin-left: -8px">
  <div class="row">
    <h5 style="font-size: 1.3vw;" class="tracking-in-expand">Inhouse</h5>
  </div>
</div>

<div class="mainbody">
  <div class="routingpart">

    <table class="table-bordered">

      <div class="col-md-12">
        <div class="row scale-up-center">
          <div class="col-md-2" *ngFor="let paymentitem of inhouseitem | keyvalue"
            (click)="inhouseClickAction(paymentitem.value)">

            <div class="card">
              <p class="aligncenter">
                <!-- <img class="card-img-top" src="../../../../assets/img/testimage.jpg" alt="Card image cap" /> -->
              </p>
              <label id="labell">Room ID</label>
              <label id="value">{{paymentitem.value.saFoRoomId}}</label>
              <label id="labell">Re.ID</label>
              <label id="value">{{paymentitem.value.saFoRoomId}}</label>
            </div>


          </div>
        </div>
      </div>


    </table>
  </div>
</div>
