<div class="card nav">
  <app-navbar> </app-navbar>
</div>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-3 col1 card">
      <app-orderdetail></app-orderdetail>
      <app-functions></app-functions>
    </div>
    <div class="col-md-8 col2 card">
      <router-outlet></router-outlet>
    </div>

    <div class="col col3 card">
      <app-routingfunctions></app-routingfunctions>
    </div>
  </div>
</div>

<!-- controlpenel -->
<div class="card" id="settingpenel">
  <div class="card-body">
    <h5 class="card-title">Control Panel</h5>

    <br />

    <div class="row" style="margin-top: 10px">
      <div class="col-md-2" data-toggle="modal" data-target="#reprintModel" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/reprint.png" alt="Card image cap" />
          </div>
          <p class="card-text">RePrint</p>
        </div>
      </div>

      <div class="col-md-2" data-toggle="modal" data-target="#billspritmodel" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/transfericon.png" alt="Card image cap" />
          </div>
          <p class="card-text">Bill Transfer</p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" data-toggle="modal" data-target="#RoomingList" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/rooming list.png" alt="Card image cap" />
          </div>
          <p class="card-text">Rooming List</p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" data-toggle="modal" data-target="#tablemove" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/movetable.png" alt="Card image cap" />
          </div>
          <p class="card-text">Move Table</p>
        </div>
      </div>

      <div class="col-md-2" data-toggle="modal" data-target="#BillSplit" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/bill split.png" alt="Card image cap" />
          </div>
          <p class="card-text">Bill Split</p>
        </div>
      </div>

      <div class="col-md-2" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/create table.png" alt="Card image cap" />
          </div>
          <p class="card-text">Create Table</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-2" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/credit customer.png" alt="Card image cap" />
          </div>
          <p class="card-text">Credit Customer</p>
        </div>
      </div>

      <div class="col-md-2" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/gust specials.png" alt="Card image cap" />
          </div>
          <p class="card-text">Guest Specials</p>
        </div>
      </div>

      <div class="col-md-2" data-toggle="modal" data-target="#meargebill" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton" (click)="mergeBillAction()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/merge bill.png" alt="Card image cap" />
          </div>
          <p class="card-text">Merge Bill</p>
        </div>
      </div>

      <div class="col-md-2" (click)="printBillAction()" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/setting.png" alt="Card image cap" />
          </div>
          <p class="card-text">Settings</p>
        </div>
      </div>

      <div class="col-md-2" data-toggle="modal" data-target="#cashinmodel" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/cash in.png" alt="Card image cap" />
          </div>
          <p class="card-text">Cash In</p>
        </div>
      </div>

      <div class="col-md-2" data-toggle="modal" data-target="#cashoutmodel" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/cash out.png" alt="Card image cap" />
          </div>
          <p class="card-text">Cash Out</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/power-button.png" alt="Card image cap" />
          </div>
          <p class="card-text"></p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/back.png" alt="Card image cap" />
          </div>
          <p class="card-text">Back</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- tools -->

<div class="card" id="toolspanel">
  <div class="card-body">
    <h5 class="card-title">Tools</h5>

    <br />

    <div class="row" style="margin-top: 10px" >
      <div class="col-md-4">
        <div class="card cardbutton" id="sidepenelbutton" >
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/bill split.png" alt="Card image cap" />
          </div>
          <p class="card-text">Bill Split</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/merge bill.png" alt="Card image cap" />
          </div>
          <p class="card-text">Merge Bill</p>
        </div>
      </div>


      <div class="col-md-4" data-toggle="modal" data-target="#reprintmodel">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/reprint.png" alt="Card image cap" />
          </div>
          <p class="card-text">RePrint</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/power-button.png" alt="Card image cap" />
          </div>
          <p class="card-text"></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card cardbutton" id="sidepenelbutton" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/back.png" alt="Card image cap" />
          </div>
          <p class="card-text">Back</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- fvourite -->
<div class="card" id="fvouritepanel">
  <div class="card-body">
    <h5 class="card-title">Favourite</h5>

    <br />
    <!-- routerLink="/addfavouritecomponant/" -->
    <div class="row" style="margin-top: 10px">
      <div class="col-md-2" *ngFor="let favouritecatorgary of allcatogaries" (click)="closepanel()">
        <div class="card cardbutton" id="sidepenelbutton"
          [routerLink]="['favouriteitem',{name:favouritecatorgary.saPosFavoriteCategoryId}]">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/favouriteicon1.png" alt="Card image cap" />

          </div>
          <p class="card-text">{{favouritecatorgary.name}}</p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" routerLink="modifyfaviurite" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/create.png" alt="Card image cap" />
          </div>
          <p class="card-text">Change</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 10px">
      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2"></div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/power-button.png" alt="Card image cap" />
          </div>
          <p class="card-text"></p>
        </div>
      </div>

      <div class="col-md-2">
        <div class="card cardbutton" id="sidepenelbutton" (click)="closepanel()">
          <div class="text-center">
            <img class="card-img-top" src="../../../../assets/img/back.png" alt="Card image cap" />
          </div>
          <p class="card-text">Back</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="make">
  <button (click)="showFvourite()" class="btn btn-primary scale-up-hor-right" id="btnk">
    Fvourite
  </button>
  <!-- <button class="btn btn-primary" (click)="ReportAction()" id="btnk">
    Report
  </button> -->
  <button (click)="showfuction()" class="btn btn-primary scale-up-hor-right" id="btnk">
    Tools
  </button>
</div>





<!-- The billspritmodel -->
<div class="modal fade" id="billspritmodel">
  <app-billtransfer></app-billtransfer>
  <div class="modal-dialog">
  </div>
</div>

<!-- The billspritmodel -->
<div class="modal fade" id="cashinmodel">
  <app-cashin></app-cashin>
  <div class="modal-dialog">
  </div>
</div>

<!-- The Rooming List -->
<div class="modal fade" id="RoomingList">
  <app-roominglist></app-roominglist>
  <div class="modal-dialog">
  </div>
</div>





<!-- The cashoutmodel -->
<div class="modal fade" id="cashoutmodel">
  <app-cashout></app-cashout>
  <div class="modal-dialog">
  </div>
</div>

<!-- The meargebill -->
<div class="modal fade" id="meargebill">
  <app-mergebill></app-mergebill>
  <div class="modal-dialog">
  </div>
</div>


<!-- The reprint -->
<div class="modal fade" id="reprintModel">
  <app-reprint></app-reprint>
  <div class="modal-dialog">
  </div>
</div>


<!-- The settlementtype-Staff -->
<div class="modal fade" id="settlementtype-Staff" style="background-color: white">
  <app-staffs></app-staffs>
  <div class="modal-dialog">
  </div>
</div>

<!-- The settlementtype-Complimentry -->
<div class="modal fade" id="settlementtypeComplimentry">
  <app-complementary></app-complementary>
  <div class="modal-dialog">
  </div>
</div>



<!-- The Move Table-->
<div class="modal fade" id="tablemove">
  <app-movetable></app-movetable>
  <div class="modal-dialog">
  </div>
</div>

<!-- The Bill Split-->
<div class="modal fade" id="BillSplit">
  <app-bill-split></app-bill-split>
  <div class="modal-dialog">
  </div>
</div>
