<div class="mainbody">
  <div class="category">
    <app-catagory></app-catagory>
    <!-- <hr /> -->
  </div>




  <div class="mainbody">
    <div class="routingpart">

      <table class="table-bordered">

        <div class="col-md-12">
          <div class="row scale-up-center">

            <div class="col-md-2" *ngFor="let item of items" (click)="selectItemAction(item)">
              <div class="card">
                <p class="aligncenter">
                  <img class="card-img-top" src="../../../../assets/img/foodtest.jpg" alt="Card image cap" />
                </p>
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">Rs {{item.selling_pice}}</p>
              </div>
            </div>
          </div>
        </div>


      </table>
    </div>
  </div>
</div>
