<div class="routingpart">
  <div class="card insidecard scale-up-hor-left">
    <h5 id="titel" class="card-title">
      <span id="home" (click)="homeAction()" class="badge badge-secondary">
        <i class="fas fa-home"></i> /
      </span>
      <span (click)="settlementAction()" id="settlementmain" class="badge badge-secondary">
        SETTLEMENT /
      </span>
      VIEW KOT
    </h5>
    <table class="table-bordered">
      <thead>
        <tr>
          <th class="thead" scope="col" width="5%">Transaction No</th>
          <th class="thead" scope="col">KOT/BOT</th>
          <th class="thead" scope="col">KOT/BOT No</th>
          <th class="thead" scope="col">Item Code</th>
          <th class="thead" scope="col">Discription</th>
          <th class="thead" scope="col">Qty</th>
          <th class="thead" scope="col">Selling Price</th>
          <th class="thead" scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Proceeditem of Proceeditems | keyvalue">
          <th class="trow">{{Proceeditem.value.searchKey}}</th>
          <td class="trow">{{Proceeditem.value. orderTicketSearchKey}}</td>
          <td class="trow">{{Proceeditem.value.orderTicketNo}}</td>
          <td class="trow">{{Proceeditem.value.itemMasterName}}</td>
          <td class="trow">{{Proceeditem.value.remark}}</td>
          <td class="trow">{{Proceeditem.value.quentity}}</td>
          <th class="trow">{{Proceeditem.value.sellingPrice}}</th>
          <td class="trow">{{Proceeditem.value.subTotalWithoutTax}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
