
thead {
  background-color: #e7e7e7;
  text-align: center;
  font-weight: 600;
  font-size: calc(2px + 1vw);
}
table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  height: 100%;
  height: 87vh;
  overflow-y: scroll;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}
th,
td {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  font-size: calc(2px + 1vw);
}
label {
  /*font-size: 1vw;*/
  font-size: calc(2px + 1vw);
}
.scale-up-hor-left{-webkit-animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-hor-left .4s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}@keyframes scale-up-hor-left{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4);-webkit-transform-origin:0 0;transform-origin:0 0}100%{-webkit-transform:scaleX(1);transform:scaleX(1);-webkit-transform-origin:0 0;transform-origin:0 0}}


 tr:hover{
  // cursor: pointer;
   background-color: #ddd;
 }

 .row{
   padding-right: 20px;
 }

 .tableseleted{
  background-color: #866161;
}
.tableseleted td{
  color: white;
  font-weight: 500;
}



#titel{
  font-size:calc(2px + 2vw);
  color: #866161;
  font-weight: bold;
}

#home{
  background-color: #808B96;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
   margin-right: 10px
 }
 #home:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  background-color: #283747;
}

.routingpart {
  width: 100vw-6.5vw; //93.5
  height: 100vh-5vh;

  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
}
.insidecard{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
