<!-- <p>
  discount works!
</p> -->
<h1> Pay Mode111 </h1>
<div class="container">
    <h2>Modal Example</h2>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Staff
    </button>
  
    <!-- /////////////////////////////////////////////////////////////////////// -->
  
    <div class="row">
      <div class="card button">
          <img class="card-img-top image" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
      
      
        </div>
  </div>
  
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Yash </button>
    <!-- ///////////////////////////////////////////////// -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Staff</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <!-- Modal body..
  //////////////////////////////////////////////////////////////// -->

  <!-- <div class="container"  style="margin-left: -8px">
      <div class="row" ><h5 style="font-size: 1.3vw;" class="tracking-in-expand">Table</h5></div>
    </div> -->
    
    <div class="row scale-up-hor-left">
      <div class="col-md-2 card" style="background-color: lightslategray">
        <p class="aligncenter">
          <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
          <br>
          <label>Cash </label>
        </p>
        <!-- <h5 class="card-title">Cash</h5> -->
      </div>
      <div class="col-md-2.1 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/00d8737da0b735125bb59e2444811c8b/1523678595262/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-copper"
            alt="Card image cap"
          /> -->
          <br>
          <label> Chandrew_Change</label>
        </p>
        <!-- <h5 class="card-title">Credit Card</h5> -->
      </div>
      <div class="col-md-2.2 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/00d8737da0b735125bb59e2444811c8b/1523678595262/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-copper"
            alt="Card image cap"
          /> -->
          <br>
          <label> OOO_Sapro</label>
        </p>
        <!-- <h5 class="card-title">BB HB FB</h5> -->
      </div>
      <div class="col-md-2 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
          <br>
          <label> Hari_Hari</label> 
        </p>
        <!-- <h5 class="card-title">Room</h5> -->
      </div>
      <div class="col-md-2.2 card " style="background-color: lightslategray">
        <p class="aligncenter">
          <br>
          <label>  Form_Sahana </label>
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
        </p>
        <!-- <h5 class="card-title">Hotel Account</h5> -->
      </div>
      <div class="col-md-2.2 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
          <br>
          <label> Prem_Prem </label>
        </p>
        <!-- <h5 class="card-title">Staff</h5> -->
      </div>
      <div class="col-md-2.2 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
          <br>
          <label> PRASANTH-PRASANTH </label>
        </p>
        <!-- <h5 class="card-title">Complimentry</h5> -->
      </div>
      <div class="col-md-2.2 card " style="background-color: lightslategray">
        <p class="aligncenter">
            <!-- <img
            class="card-img-top"
            src="https://images.prod.meredith.com/product/e2d62976b2945ebb6e91f9c05cdb697f/1523744076898/m/ebern-designs-crushed-poly-liner-tablecloth-ebrd2866-size-132-w-x-132-l-color-citrus"
            alt="Card image cap"
          /> -->
          <br>
          <label>kAVISHNA-krishna </label>
        </p>
        <!-- <h5 class="card-title">Bank Transfer</h5> -->
      </div>


    
  <!-- ///////////////////////////////////////////////////////// -->
            
          <br>
          <br>
          <!-- Modal footer -->
          <!-- <div class="modal-footer"> -->
              <!-- <button type="button" class="btn btn-primary">Save</button>     -->
              <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
           -->
        </div>
      </div>
    </div>
    
  </div>
  